Repository cometbft/cometbft, pull requests merged in 2023-06, with the labels that each got.

#921 Release `v0.38.0-rc1`
  CHANGELOG.md
  RELEASES.md
  UPGRADING.md
  version/version.go
Labels: release

#890 Prevent a transaction to appear twice in the mempool
  .changelog/unreleased/bug-fixes/890-mempool-fix-cache.md
  mempool/clist_mempool.go
  mempool/clist_mempool_test.go
Labels: bug, mempool, backport-to-v0.34.x, backport-to-v0.37.x, backport-to-v0.38.x

#905 New metrics to track duplicate votes and block parts (#896) -- Forward port
  consensus/metrics.gen.go
  consensus/metrics.go
  consensus/state.go
  types/part_set.go
Labels: enhancement

#933 e2e tests are being skipped; `INFRASTRUCTURE-*` bug; portGen inconsistency bug
  test/e2e/pkg/infrastructure.go
  test/e2e/pkg/testnet.go
  test/e2e/runner/test.go
  test/e2e/tests/e2e_test.go
Labels: bug, backport-to-v0.38.x

#851 spec/p2p: document the p2p API used by Reactors
  spec/p2p/reactor/README.md
  spec/p2p/reactor/p2p-api.md
  spec/p2p/reactor/p2p-reactors.png
  spec/p2p/reactor/reactor.md
  spec/p2p/reactor/reactor.qnt
Labels: p2p, spec

#954 e2e: Generate prometheus.yaml on setup
  test/e2e/pkg/templates/prometheus-yaml.tmpl
  test/e2e/pkg/testnet.go
  test/e2e/runner/setup.go
Labels: enhancement, backport-to-v0.37.x, e2e, backport-to-v0.38.x

#928 Add requirement for `CheckTx` in ABCI spec
  spec/abci/abci++_app_requirements.md
Labels: spec, backport-to-v0.37.x, backport-to-v0.38.x

#865 fix: avoid recursive call after rename to (*PeerState).MarshalJSON
  .changelog/unreleased/bug-fixes/865-fix-peerstate-marshaljson.md
  consensus/reactor.go
  consensus/reactor_test.go
Labels: bug, backport-to-v0.34.x, backport-to-v0.37.x, backport-to-v0.38.x

#972 Release v0.37.2
  .changelog/unreleased/bug-fixes/771-kvindexer-parsing-big-ints.md
  .changelog/unreleased/bug-fixes/771-pubsub-parsing-big-ints.md
  .changelog/unreleased/bug-fixes/865-fix-peerstate-marshaljson.md
  .changelog/unreleased/bug-fixes/890-mempool-fix-cache.md
  .changelog/v0.37.2/bug-fixes/771-kvindexer-parsing-big-ints.md
  .changelog/v0.37.2/bug-fixes/771-pubsub-parsing-big-ints.md
  .changelog/v0.37.2/improvements/654-rpc-rm-response-data-logs.md
  .changelog/v0.37.2/security-fixes/787-rpc-client-pw.md
  .changelog/v0.37.2/security-fixes/793-cli-debug-kill-unsafe-cast.md
  .changelog/v0.37.2/security-fixes/865-fix-peerstate-marshaljson.md
  .changelog/v0.37.2/security-fixes/890-mempool-fix-cache.md
  .changelog/v0.37.2/summary.md
  CHANGELOG.md
  test/e2e/docker/Dockerfile
  version/version.go
Labels: release

#973 Release v0.34.29
  .changelog/unreleased/bug-fixes/771-kvindexer-parsing-big-ints.md
  .changelog/unreleased/bug-fixes/771-pubsub-parsing-big-ints.md
  .changelog/unreleased/bug-fixes/865-fix-peerstate-marshaljson.md
  .changelog/unreleased/bug-fixes/890-mempool-fix-cache.md
  .changelog/v0.34.29/bug-fixes/771-kvindexer-parsing-big-ints.md
  .changelog/v0.34.29/bug-fixes/771-pubsub-parsing-big-ints.md
  .changelog/v0.34.29/improvements/654-rpc-rm-response-data-logs.md
  .changelog/v0.34.29/security-fixes/788-rpc-client-pw.md
  .changelog/v0.34.29/security-fixes/794-cli-debug-kill-unsafe-cast.md
  .changelog/v0.34.29/security-fixes/865-fix-peerstate-marshaljson.md
  .changelog/v0.34.29/security-fixes/890-mempool-fix-cache.md
  .changelog/v0.34.29/summary.md
  CHANGELOG.md
  test/e2e/docker/Dockerfile
  version/version.go
Labels: release

#984 test/e2e: Fix Docker image build
  test/e2e/docker/Dockerfile
Labels: ci, backport-to-v0.38.x, docker

#986 Remove duplicate function `deterministicExecTxResult`
  abci/types/types.go
  types/block.go
  types/results.go
Labels: automerge, P:tech-debt

#934 mempool: Fix the benchmarks
  mempool/bench_test.go
  mempool/cache_test.go
  mempool/clist_mempool_test.go
  mempool/mempool.go
  mempool/reactor.go
Labels: mempool

#983 Add `CMT_HOME` (or remove it?)
  UPGRADING.md
  cmd/cometbft/commands/root_test.go
Labels: bug, automerge, backport-to-v0.34.x, backport-to-v0.37.x, backport-to-v0.38.x

#979 Remove `buf.yaml` at the root of the source tree
  buf.yaml
Labels: chore, hygiene

#904 consensus: optimize vote and block part gossip with HasProposalBlockPartMessage and random sleeps
  .changelog/unreleased/improvements/896-consensus-metric-duplicates.md
  .changelog/unreleased/improvements/904-gossip-sleep-had-block-part.md
  config/config.go
  config/toml.go
  consensus/msgs.go
  consensus/reactor.go
  consensus/state.go
  consensus/types/peer_round_state.go
  proto/tendermint/consensus/message.go
  proto/tendermint/consensus/types.pb.go
  proto/tendermint/consensus/types.proto
  test/e2e/networks/ci.toml
  test/e2e/pkg/manifest.go
  test/e2e/pkg/testnet.go
  test/e2e/runner/setup.go
  types/events.go
Labels: enhancement, automerge

#1003 Extend ABCI `max_block_size` parameter to give extended control to the app
  .changelog/unreleased/breaking-changes/980-max-size-more-control.md
  .changelog/unreleased/improvements/980-max-size-more-control.md
  consensus/state.go
  node/node_test.go
  spec/abci/abci++_app_requirements.md
  spec/abci/abci++_methods.md
  spec/consensus/creating-proposal.md
  spec/core/state.md
  state/execution.go
  state/tx_filter.go
  types/block.go
  types/params.go
  types/params_test.go
Labels: abci, automerge, backport-to-v0.38.x

#1022 Bump logs on non-fatal vote validation failures to Info level
  .changelog/unreleased/improvements/1022-log-invalid-vote-extension.md
  consensus/state.go
Labels: consensus, automerge, logs

#1023 Update codeowners to include DevRel team
  .github/CODEOWNERS
Labels: automerge

#1031 Release `v0.38.0-rc2`
  CHANGELOG.md
  version/version.go
Labels: release

#1009 deps: Manually bump github.com/vektra/mockery/v2 from 2.29.0 to 2.30.1
  abci/client/mocks/client.go
  abci/types/mocks/application.go
  evidence/mocks/block_store.go
  go.mod
  go.sum
  light/rpc/mocks/light_client.go
  mempool/mocks/mempool.go
  p2p/mocks/peer.go
  proxy/mocks/app_conn_consensus.go
  proxy/mocks/app_conn_mempool.go
  proxy/mocks/app_conn_query.go
  proxy/mocks/app_conn_snapshot.go
  proxy/mocks/client_creator.go
  state/indexer/mocks/block_indexer.go
  state/mocks/block_store.go
  state/mocks/evidence_pool.go
  state/mocks/store.go
  state/txindex/mocks/tx_indexer.go
  statesync/mocks/state_provider.go
Labels: dependencies, automerge

#1015 docs: Added double quotes to /abci_query path param
  rpc/openapi/openapi.yaml
Labels: automerge, backport-to-v0.34.x, backport-to-v0.37.x, backport-to-v0.38.x

#760 Update Docs with Finalize Block
  docs/guides/go-built-in.md
  docs/guides/go.md
Labels: automerge, backport-to-v0.38.x

#1033 Clarifies that processProposal may be called for set of transactions different from the one returned in the preceding prepareProposal
  spec/abci/abci++_basic_concepts.md
  spec/abci/abci++_comet_expected_behavior.md
  spec/abci/abci++_example_scenarios.md
  spec/abci/abci++_methods.md
Labels: spec, automerge, backport-to-v0.37.x, backport-to-v0.38.x

#1005 v0.38.x: backport of new content on spec/p2p
  p2p/README.md
  spec/README.md
  spec/abci/abci++_basic_concepts.md
  spec/abci/abci++_methods.md
  spec/p2p/README.md
  spec/p2p/images/p2p-reactors.png
  spec/p2p/images/p2p_state.png
  spec/p2p/implementation/README.md
  spec/p2p/implementation/addressbook.md
  spec/p2p/implementation/configuration.md
  spec/p2p/implementation/peer_manager.md
  spec/p2p/implementation/pex-protocol.md
  spec/p2p/implementation/pex.md
  spec/p2p/implementation/switch.md
  spec/p2p/implementation/transport.md
  spec/p2p/implementation/types.md
  spec/p2p/legacy-docs/config.md
  spec/p2p/legacy-docs/connection.md
  spec/p2p/legacy-docs/messages/README.md
  spec/p2p/legacy-docs/messages/block-sync.md
  spec/p2p/legacy-docs/messages/consensus.md
  spec/p2p/legacy-docs/messages/evidence.md
  spec/p2p/legacy-docs/messages/mempool.md
  spec/p2p/legacy-docs/messages/pex.md
  spec/p2p/legacy-docs/messages/state-sync.md
  spec/p2p/legacy-docs/node.md
  spec/p2p/legacy-docs/peer.md
  spec/p2p/reactor-api/README.md
  spec/p2p/reactor-api/p2p-api.md
  spec/p2p/reactor-api/reactor.md
  spec/p2p/reactor-api/reactor.qnt
  spec/p2p/readme.md
  spec/p2p/v0.34/README.md
Labels: p2p, spec

#1004 v0.37.x: backport of new content on spec/p2p
  p2p/README.md
  spec/README.md
  spec/abci/abci++_basic_concepts.md
  spec/abci/abci++_methods.md
  spec/p2p/README.md
  spec/p2p/images/p2p-reactors.png
  spec/p2p/images/p2p_state.png
  spec/p2p/implementation/README.md
  spec/p2p/implementation/addressbook.md
  spec/p2p/implementation/configuration.md
  spec/p2p/implementation/peer_manager.md
  spec/p2p/implementation/pex-protocol.md
  spec/p2p/implementation/pex.md
  spec/p2p/implementation/switch.md
  spec/p2p/implementation/transport.md
  spec/p2p/implementation/types.md
  spec/p2p/legacy-docs/config.md
  spec/p2p/legacy-docs/connection.md
  spec/p2p/legacy-docs/messages/README.md
  spec/p2p/legacy-docs/messages/block-sync.md
  spec/p2p/legacy-docs/messages/consensus.md
  spec/p2p/legacy-docs/messages/evidence.md
  spec/p2p/legacy-docs/messages/mempool.md
  spec/p2p/legacy-docs/messages/pex.md
  spec/p2p/legacy-docs/messages/state-sync.md
  spec/p2p/legacy-docs/node.md
  spec/p2p/legacy-docs/peer.md
  spec/p2p/reactor-api/README.md
  spec/p2p/reactor-api/p2p-api.md
  spec/p2p/reactor-api/reactor.md
  spec/p2p/reactor-api/reactor.qnt
  spec/p2p/readme.md
Labels: p2p, spec
