Repository cometbft/cometbft, pull requests merged in 2023-10, with the labels that each got.

#82 ADR-101: Data Companion Pull API
  docs/architecture/README.md
  docs/architecture/adr-101-data-companion-pull-api.md
Labels: wip, P:integrator-experience, adr, P:storage-optimization

#1119 Reject incoming txs while node is catching up
  .changelog/unreleased/breaking-changes/785-reject-incoming-txs-while-catching-up.md
  blocksync/reactor.go
  consensus/byzantine_test.go
  consensus/reactor.go
  mempool/reactor.go
  mempool/reactor_test.go
  node/node.go
  node/setup.go
  rpc/core/env.go
  rpc/core/mempool.go
Labels: enhancement

#1437 grpc: Add base gRPC server with version service to v0.38.x-experimental
  .changelog/unreleased/features/816-grpc-client.md
  .changelog/unreleased/features/816-grpc-server.md
  .changelog/unreleased/features/816-grpc-version-service.md
  config/config.go
  config/toml.go
  libs/net/net.go
  node/node.go
  proto/tendermint/services/version/v1/version.pb.go
  proto/tendermint/services/version/v1/version.proto
  proto/tendermint/services/version/v1/version_service.pb.go
  proto/tendermint/services/version/v1/version_service.proto
  rpc/grpc/client/client.go
  rpc/grpc/client/version_service.go
  rpc/grpc/server/server.go
  rpc/grpc/server/services/versionservice/service.go
  rpc/test/helpers.go
  test/e2e/pkg/infra/docker/docker.go
  test/e2e/pkg/infrastructure.go
  test/e2e/pkg/testnet.go
  test/e2e/runner/setup.go
  test/e2e/runner/start.go
  test/e2e/tests/grpc_test.go
Labels: grpc

#1414 test: respect P2PConfig fuzzing configuration in MultiplexTransport
  config/config.go
  p2p/conn/connection.go
  p2p/switch.go
  p2p/transport.go
Labels: p2p

#1440 grpc: BlockService and BlockResultsService backport to v0.38.x-experimental
  .changelog/unreleased/features/1094-grpc-block-service-cfg.md
  .changelog/unreleased/features/1094-grpc-block-service.md
  .changelog/unreleased/features/1095-grpc-block-results-service-cfg.md
  .changelog/unreleased/features/1095-grpc-block-results-service.md
  config/config.go
  config/toml.go
  docs/core/configuration.md
  internal/rpctrace/rpctrace.go
  node/node.go
  proto/buf.yaml
  proto/tendermint/services/block/v1/block.pb.go
  proto/tendermint/services/block/v1/block.proto
  proto/tendermint/services/block/v1/block_service.pb.go
  proto/tendermint/services/block/v1/block_service.proto
  proto/tendermint/services/block_results/v1/block_results.pb.go
  proto/tendermint/services/block_results/v1/block_results.proto
  proto/tendermint/services/block_results/v1/block_results_service.pb.go
  proto/tendermint/services/block_results/v1/block_results_service.proto
  rpc/grpc/client/block_results_service.go
  rpc/grpc/client/block_service.go
  rpc/grpc/client/client.go
  rpc/grpc/client/version_service.go
  rpc/grpc/server/server.go
  rpc/grpc/server/services/blockresultservice/service.go
  rpc/grpc/server/services/blockservice/service.go
  test/e2e/tests/e2e_test.go
  test/e2e/tests/grpc_test.go
Labels: grpc

#1439 ADR-101: Backport pruning mechanism to v0.38.x-experimental
  .changelog/breaking/1096-block-pruning-async.md
  .changelog/breaking/1096-state-store-adr101-methods.md
  .changelog/unreleased/enhancements/1096-config-pruner.md
  .changelog/unreleased/enhancements/1096-node-pruner.md
  .changelog/unreleased/enhancements/1096-state-abcires-pruning.md
  .changelog/unreleased/enhancements/1096-state-background-pruning.md
  config/config.go
  config/toml.go
  consensus/replay_test.go
  docs/core/configuration.md
  node/node.go
  node/node_test.go
  rpc/test/helpers.go
  state/errors.go
  state/execution.go
  state/export_test.go
  state/metrics.gen.go
  state/metrics.go
  state/mocks/store.go
  state/pruner.go
  state/pruner_observer.go
  state/store.go
  state/store_test.go
  store/store.go
  store/store_test.go
  test/e2e/tests/block_test.go
Labels: P:storage-optimization

#1471 grpc: PruningService backport to v0.38.x-experimental
  .changelog/unreleased/features/1097-pruning-service.md
  config/config.go
  config/toml.go
  node/node.go
  proto/tendermint/services/pruning/v1/pruning.pb.go
  proto/tendermint/services/pruning/v1/pruning.proto
  proto/tendermint/services/pruning/v1/service.pb.go
  proto/tendermint/services/pruning/v1/service.proto
  rpc/grpc/client/privileged/privileged.go
  rpc/grpc/client/privileged/pruning_service.go
  rpc/grpc/server/privileged/privileged.go
  rpc/grpc/server/services/pruningservice/service.go
  rpc/test/helpers.go
  test/e2e/pkg/infra/docker/docker.go
  test/e2e/pkg/infrastructure.go
  test/e2e/pkg/testnet.go
  test/e2e/runner/setup.go
  test/e2e/tests/grpc_test.go
Labels: grpc

#1476 ADR - 101: Backport indexer pruning mechanism to v0.38.x-experimental
  .changelog/unreleased/breaking-changes/1096-block-pruning-async.md
  .changelog/unreleased/breaking-changes/1096-state-store-adr101-methods.md
  .changelog/unreleased/breaking-changes/1176-blockindexer-pruning.md
  .changelog/unreleased/improvements/169-tx_index-pruning.md
  .gitignore
  node/node.go
  scripts/db_measurements/measure_db.py
  state/export_test.go
  state/indexer/block.go
  state/indexer/block/kv/export_test.go
  state/indexer/block/kv/kv.go
  state/indexer/block/kv/kv_test.go
  state/indexer/block/kv/util.go
  state/indexer/block/null/null.go
  state/indexer/mocks/block_indexer.go
  state/indexer/sink/psql/backport.go
  state/pruner.go
  state/pruner_test.go
  state/store_test.go
  state/txindex/indexer.go
  state/txindex/indexer_service.go
  state/txindex/indexer_service_test.go
  state/txindex/kv/export_test.go
  state/txindex/kv/kv.go
  state/txindex/kv/kv_test.go
  state/txindex/kv/utils.go
  state/txindex/mocks/tx_indexer.go
  state/txindex/null/null.go
  store/store_test.go
Labels: indexer, P:storage-optimization

#1479 ADR-101 v0.38.x - Backport metrics for monitoring indexer pruning
  .changelog/unreleased/features/1334-metrics-for-index-pruning.md
  state/metrics.gen.go
  state/metrics.go
  state/pruner.go
Labels: indexer, metrics, P:storage-optimization

#1480 v0.38.x-experimental: Backport e2e flakiness fix
  test/e2e/tests/block_test.go
  test/e2e/tests/validator_test.go
Labels: e2e

#1474 grpc: backport Add `Close` method to gRPC client (#1251) to v0.38.x-experimental
  rpc/grpc/client/client.go
  rpc/grpc/client/privileged/privileged.go
  test/e2e/tests/grpc_test.go
Labels: grpc

#1482 ADR-101 v0.38.x: gRPC for Tx and Block indexer pruning (#1327)
  .changelog/unreleased/features/1327-grpc-pruning-indexer.md
  proto/tendermint/services/pruning/v1/pruning.pb.go
  proto/tendermint/services/pruning/v1/pruning.proto
  proto/tendermint/services/pruning/v1/service.pb.go
  proto/tendermint/services/pruning/v1/service.proto
  rpc/grpc/client/privileged/pruning_service.go
  rpc/grpc/server/services/pruningservice/service.go
  test/e2e/tests/grpc_test.go
Labels: indexer, grpc

#1141 abci: Add relaxed local client synchronization models
  .changelog/unreleased/breaking-changes/1141-abci-advanced-proxy.md
  .changelog/unreleased/improvements/1141-abci-consensus-syncd-proxy.md
  .changelog/unreleased/improvements/1141-abci-unsync-proxy.md
  abci/client/local_client.go
  abci/client/unsync_local_client.go
  consensus/replay_stubs.go
  mempool/clist_mempool_test.go
  proxy/app_conn_test.go
  proxy/client.go
  proxy/mocks/client_creator.go
  proxy/multi_app_conn.go
  proxy/multi_app_conn_test.go
  state/execution_test.go
  test/fuzz/mempool/checktx.go
Labels: abci, breaking, wip

#1502 Make BuildLastCommitInfo and BuildExtendedCommitInfo public
  state/execution.go
Labels: backport-to-v0.38.x

#1507 e2e:Fix docker port alias
  test/e2e/pkg/infra/docker/docker.go
Labels: e2e, docker

#1492 e2e: Fix flakiness in grpc tests due to pruning
  test/e2e/tests/grpc_test.go
Labels: e2e

#1531 Fix linting on `main`
  .golangci.yml
  crypto/merkle/tree_test.go
  libs/protoio/io.go
  p2p/netaddress.go
  state/indexer/sink/psql/psql.go
  test/e2e/app/app.go
  types/vote_set.go
Labels: chore

#1529 indexer-respect-height-params-on-query
  .changelog/unreleased/bug-fixes/1529-indexer-respect-height-params-on-query.md
  state/indexer/query_range.go
  state/txindex/kv/kv_test.go
Labels: bug, indexer, backport-to-v0.37.x, backport-to-v0.38.x

#1514 state: node bootstrap in v0.37.x
  .changelog/unreleased/features/1057-bootstrap-state-api.md
  blocksync/reactor.go
  consensus/state.go
  node/node.go
  state/export_test.go
  state/store.go
  state/store_test.go
  store/store.go
Labels: enhancement, state, state-sync

#1545 RFC 106: non-idempotent methods in data companion
  docs/rfc/README.md
  docs/rfc/rfc-106-separate-stateful-methods.md
Labels: grpc, rfc

#1536 e2e-v0.38-experimental: Fix flakiness in grpc tests due to pruning (#1492)
  test/e2e/tests/grpc_test.go
Labels: e2e
