Repository cometbft/cometbft, pull requests merged in 2024-11, with the labels that each got.

#4410 fix: broken integration tests
  tests.mk
Labels: bug, testing

#4420 docs(metrics): Fix typo
  docs/explanation/core/metrics.md
Labels: spelling

#4401 chore(abci): set NextBlockDelay to 1s (default)
  abci/example/kvstore/kvstore.go
  abci/tutorials/abci-v2-forum-app/abci/app.go
  proxy/client.go
  tests.mk
Labels: abci

#3494 docs(legacy): added legacy documentation that was removed earlier
  spec/legacy/reactors/README.md
  spec/legacy/reactors/block_sync/README.md
  spec/legacy/reactors/block_sync/img/bc-reactor-routines.png
  spec/legacy/reactors/block_sync/img/bc-reactor.png
  spec/legacy/reactors/block_sync/impl.md
  spec/legacy/reactors/consensus/README.md
  spec/legacy/reactors/consensus/consensus.md
  spec/legacy/reactors/evidence/README.md
  spec/legacy/reactors/mempool/README.md
  spec/legacy/reactors/mempool/concurrency.md
  spec/legacy/reactors/mempool/functionality.md
  spec/legacy/reactors/mempool/messages.md
  spec/legacy/reactors/pex/README.md
  spec/legacy/reactors/pex/pex.md
  spec/legacy/reactors/state_sync/README.md
Labels: spec, wip

#4297 chore: use the latest cometbft-db in v0.38.x
  .github/workflows/build.yml
  .github/workflows/check-generated.yml
  .github/workflows/e2e-manual-multiversion.yml
  .github/workflows/e2e-manual.yml
  .github/workflows/e2e.yml
  .github/workflows/fuzz-nightly.yml
  .github/workflows/govulncheck.yml
  .github/workflows/lint.yml
  .github/workflows/pre-release.yml
  .github/workflows/release-version.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  DOCKER/Dockerfile
  go.mod
  go.sum
  state/indexer/block/kv/kv.go
  test/docker/Dockerfile
  test/e2e/docker/Dockerfile
Labels: backport-to-v0.38.x-experimental

#4374 feat(libs/log)!: replace underlying logger (go-kit) w/ slog
  .changelog/unreleased/breaking-changes/1278-slog.md
  .golangci.yml
  abci/cmd/abci-cli/abci-cli.go
  abci/tutorials/abci-v2-forum-app/forum.go
  cmd/cometbft/commands/debug/debug.go
  cmd/cometbft/commands/light.go
  cmd/cometbft/commands/root.go
  cmd/priv_val_server/main.go
  docs/tutorials/forum-application/6.main.md
  docs/tutorials/go-built-in.md
  docs/tutorials/go.md
  go.mod
  go.sum
  internal/consensus/common_test.go
  internal/evidence/reactor_test.go
  internal/inspect/inspect.go
  libs/cli/flags/log_level_test.go
  libs/log/cmtfmt_logger.go
  libs/log/cmtfmt_logger_test.go
  libs/log/filter.go
  libs/log/filter_test.go
  libs/log/logger.go
  libs/log/logger_test.go
  libs/log/nop_logger.go
  libs/log/testing_logger.go
  libs/log/tm_json_logger.go
  libs/log/tm_logger.go
  libs/log/tracing_logger.go
  libs/log/tracing_logger_test.go
  mempool/reactor_test.go
  node/node.go
  rpc/jsonrpc/doc.go
  rpc/jsonrpc/jsonrpc_test.go
  rpc/jsonrpc/server/http_json_handler_test.go
  rpc/jsonrpc/test/main.go
  rpc/test/helpers.go
  test/e2e/app/app.go
  test/e2e/generator/main.go
  test/e2e/node/main.go
  test/e2e/pkg/grammar/checker.go
  test/e2e/runner/main.go
Labels: breaking, logs

#4377 fix(p2p): adjust backoff seconds to increase reconnect retries close to 24 hours
  .changelog/unreleased/improvements/3519-p2p-reconnect-interval-1day.md
  p2p/switch.go
Labels: p2p, spec, backport-to-v0.37.x, backport-to-v0.38.x, backport-to-v1.x

#4322 perf(light): Use cache when verifying signatures
  .changelog/unreleased/improvements/2365-deduplicate-light-signature-checks.md
  crypto/crypto.go
  crypto/mocks/batch_verifier.go
  crypto/mocks/pub_key.go
  light/verifier.go
  types/signature_cache.go
  types/validation.go
  types/validation_test.go
  types/validator_set.go
  types/validator_set_test.go
Labels: enhancement, light-client

#4408 refactor(e2e): Replace latency emulation Python script by generating a shell script in e2e's setup
  test/e2e/README.md
  test/e2e/docker/Dockerfile
  test/e2e/docker/entrypoint
  test/e2e/docker/entrypoint-builtin
  test/e2e/docker/entrypoint-builtin-delve
  test/e2e/docker/entrypoint-delve
  test/e2e/pkg/files/aws-latencies.csv
  test/e2e/pkg/infra/digitalocean/digitalocean.go
  test/e2e/pkg/infra/docker/docker.go
  test/e2e/pkg/infra/provider.go
  test/e2e/pkg/latency/latency-setter.py
  test/e2e/pkg/manifest.go
  test/e2e/pkg/testnet.go
  test/e2e/runner/cleanup.go
  test/e2e/runner/latency_emulation.go
  test/e2e/runner/setup.go
  test/e2e/runner/start.go
Labels: e2e, backport-to-v1.x

#4348 feat(e2e): Support latency emulation on 'fast' Docker image
  test/e2e/docker/Dockerfile.fast
  test/e2e/docker/entrypoint-fast
Labels: e2e, backport-to-v1.x

#4429 test(e2e): always output manifest
  test/e2e/run-multiple.sh
Labels: e2e, backport-to-v0.38.x, backport-to-v1.x

#4427 fix: modify changelog entry to reflect the right message for PR #4377
  .changelog/unreleased/improvements/3519-p2p-reconnect-interval-1day.md
Labels: p2p

#4437 build: v0.38.14
  .changelog/v0.38.14/bug-fixes/0021-abc-panic-precommit-validator-index.md
  .changelog/v0.38.14/dependencies/4297-update-cometbft-db.md
  .changelog/v0.38.14/dependencies/4297-update-go.md
  .changelog/v0.38.14/improvements/3519-p2p-reconnect-interval-1day.md
  .changelog/v0.38.14/summary.md
  CHANGELOG.md
  version/version.go
Labels: automerge, backport-to-v0.38.x-experimental

#4439 test: fix TestStateDoesntCrashOnInvalidVote
  consensus/state_test.go
Labels: automerge, backport-to-v0.38.x-experimental

#4441 merge commit from fork
  .changelog/unreleased/bug-fixes/0021-abc-panic-precommit-validator-index.md
  consensus/errors.go
  consensus/reactor_test.go
  consensus/state.go
  consensus/state_test.go
Labels: automerge

#4442 Revert "chore: use the latest cometbft-db in v0.38.x (#4297)"
  .github/workflows/build.yml
  .github/workflows/check-generated.yml
  .github/workflows/e2e-manual-multiversion.yml
  .github/workflows/e2e-manual.yml
  .github/workflows/e2e.yml
  .github/workflows/fuzz-nightly.yml
  .github/workflows/govulncheck.yml
  .github/workflows/lint.yml
  .github/workflows/pre-release.yml
  .github/workflows/release-version.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  DOCKER/Dockerfile
  go.mod
  go.sum
  state/indexer/block/kv/kv.go
  test/docker/Dockerfile
  test/e2e/docker/Dockerfile
Labels: automerge, backport-to-v0.38.x-experimental

#4446 Retract v0.38.14
  go.mod
Labels: automerge, backport-to-v0.38.x-experimental

#4443 ci: remove backporting to v0.38.x-experimental
  .github/mergify.yml
Labels: automerge, ci

#4451 docs: add note about Go version bumps
  CONTRIBUTING.md
Labels: documentation

#4448 build(docker): use upper case for keyword `as`
  DOCKER/Dockerfile
Labels: hygiene

#4473 fix(e2e): do not oscilate validator set when it contains a single validator
  test/e2e/pkg/testnet.go
  test/e2e/run-multiple.sh
Labels: bug, e2e

#4475 feat(log): added `log_colors` configuration flag
  .changelog/unreleased/improvements/4452-config-log-colors.md
  cmd/cometbft/commands/root.go
  config/config.go
  config/config.toml.tpl
  docs/references/config/config.toml.md
  libs/log/logger.go
  test/e2e/node/main.go
  test/e2e/runner/main.go
  test/e2e/runner/setup.go
Labels: enhancement, logs, e2e

#4459 chore(docs): Expand contributing guidelines
  CONTRIBUTING.md
Labels: documentation, backport-to-v1.x

#4460 fix(spec/abci): Added proper description of `ExtendedVoteInfo` and `VoteInfo`
  spec/abci/abci++_methods.md
Labels: abci, spec, backport-to-v0.38.x, backport-to-v1.x

#4483 feat(spec): Add lanes to abci spec
  spec/abci/abci++_methods.md
Labels: mempool, spec

#4484 chore(state): `v1LegacyLayout` keys no longer use `fmt.Sprintf()`.
  .changelog/unreleased/improvements/4484-v1keylayout-sprintf.md
  state/store.go
Labels: storage, chore, P:tech-debt

#4436 perf(consensus)!: eliminate busy loop allocation of heap memory for round state
  internal/consensus/reactor.go
  internal/consensus/state.go
Labels: consensus

#4489 chore(store): `store.v1LegacyLayout` no longer uses `fmt.Sprintf()` to create DB keys.
  .changelog/unreleased/improvements/4489-blockstore-v1LegacyLayout-sprintf.md
  store/db_key_layout.go
  store/db_key_layout_test.go
Labels: storage, chore, P:tech-debt

#4476 spec(mempool/dog): Add spec of Flood gossip protocol
  spec/mempool/gossip/Makefile
  spec/mempool/gossip/README.md
  spec/mempool/gossip/flood.md
  spec/mempool/gossip/mempool.md
  spec/mempool/gossip/p2p.md
  spec/mempool/gossip/quint/flood.qnt
  spec/mempool/gossip/quint/mempool.qnt
  spec/mempool/gossip/quint/p2p.qnt
  spec/mempool/gossip/quint/spells.qnt
Labels: mempool, spec

#4511 feat(storage): Add package `internal/storage`
  .golangci.yml
  internal/storage/db.go
  internal/storage/pebbledb.go
Labels: storage, P:tech-debt

#4490 refactor(storage): Optimized `v1LegacyLayout` key creation.
  .changelog/unreleased/improvements/4484-v1keylayout-sprintf.md
  .changelog/unreleased/improvements/4490-v1LegacyLayout.md
  light/store/db/db_key_layout.go
  light/store/db/db_test.go
  state/store.go
  state/store_db_key_layout_test.go
  store/db_key_layout.go
Labels: storage, chore, P:tech-debt

#4454 chore: updates in preparation for v1.0.0-rc2
  .changelog/unreleased/summary.md
  docs/tutorials/forum-application/9.run-app.md
Labels: release, backport-to-v1.x

#4515 feat(storage): Add unit tests for pebble implementation of `DB` interface.
  .golangci.yml
  internal/storage/pebbledb.go
  internal/storage/pebbledb_test.go
Labels: storage, P:tech-debt, testing

#4523 fix(mockery): Temporary fixing the version of mockery to unblock main
  scripts/mockery_generate.sh
Labels: bug

#4522 feat(storage): Add unit tests for pebble implementation of `Batch` interface.
  internal/storage/pebbledb.go
  internal/storage/pebbledb_test.go
Labels: storage, P:tech-debt, testing

#4524 chore(storage): merge `main` into `feature/remove-cometbftdb`.
  .changelog/unreleased/improvements/4484-v1keylayout-sprintf.md
  .changelog/unreleased/improvements/4490-v1LegacyLayout.md
  .changelog/unreleased/summary.md
  .github/workflows/e2e-long-main.yml
  .github/workflows/e2e-nightly-1x.yml
  .github/workflows/e2e-nightly-34x.yml
  .github/workflows/e2e-nightly-37x.yml
  .github/workflows/e2e-nightly-38x.yml
  .github/workflows/e2e-nightly-main.yml
  .github/workflows/fuzz-nightly.yml
  .github/workflows/notify-about-breaking-changes.yml
  .github/workflows/pre-release.yml
  .github/workflows/proto-lint.yml
  .github/workflows/release.yml
  docs/tutorials/forum-application/9.run-app.md
  go.mod
  go.sum
  light/store/db/db_key_layout.go
  light/store/db/db_test.go
  scripts/mockery_generate.sh
  spec/core/data_structures.md
  state/store.go
  state/store_db_key_layout_test.go
  store/db_key_layout.go
Labels: storage, chore

#4521 feat(mocks): `mockery` v2.49.0 changes mock format
  .mockery.yml
  scripts/mockery_generate.sh
Labels: backport-to-v0.34.x, backport-to-v0.37.x, chore, backport-to-v0.38.x, backport-to-v1.x

#4529 fix(changelog): Add changelog for #4521
  .changelog/unreleased/bug-fixes/4521-fixes-breaking-mock.md
Labels: chore

#4520 fix: add a new manual slack notification workflow for testing
  .github/workflows/test-slack-notification.yml
Labels: bug, ci

#4533 fix: Slack notifications Templates for GitHub Actions workflows (`v0.38.x`)
  .github/workflows/fuzz-nightly.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Labels: bug, ci

#4534 fix: Slack notifications Templates for GitHub Actions workflows (`v0.37.x`)
  .github/workflows/e2e-long-37x.yml
  .github/workflows/fuzz-nightly.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
Labels: bug, ci

#4532 fix: Slack notifications Templates for GitHub Actions workflows (`main` | `v1.x` backport)
  .github/workflows/e2e-long-main.yml
  .github/workflows/e2e-nightly-1x.yml
  .github/workflows/e2e-nightly-34x.yml
  .github/workflows/e2e-nightly-37x.yml
  .github/workflows/e2e-nightly-38x.yml
  .github/workflows/e2e-nightly-main.yml
  .github/workflows/fuzz-nightly.yml
  .github/workflows/notify-about-breaking-changes.yml
  .github/workflows/pre-release.yml
  .github/workflows/release.yml
  .github/workflows/test-slack-notification.yml
Labels: bug, ci, backport-to-v1.x

#4541 docs: update `pool.go` reference
  docs/explanation/core/block-sync.md
Labels: documentation, hygiene

#4530 feat(storage): Add unit tests for pebble implementation of `Iterator` interface.
  internal/storage/pebbledb.go
  internal/storage/pebbledb_test.go
Labels: storage, P:tech-debt, testing

#4551 fix(e2e): application logger does not use colors
  test/e2e/app/app.go
Labels: logs, e2e

#4550 fix(mempool): Extend `ErrInvalidTx` with `CheckTxResponse` info
  .changelog/unreleased/breaking-changes/4550-mempool-err-invalid-tx.md
  mempool/clist_mempool.go
  mempool/errors.go
Labels: mempool, backport-to-v1.x

#4307 refactor(p2p)!: extract `MConnection` from `Peer`
  internal/blocksync/pool.go
  internal/blocksync/reactor.go
  internal/blocksync/reactor_test.go
  internal/consensus/byzantine_test.go
  internal/consensus/invalid_test.go
  internal/consensus/reactor.go
  internal/evidence/reactor.go
  internal/evidence/reactor_test.go
  mempool/nop_mempool.go
  mempool/reactor.go
  node/node.go
  node/node_test.go
  node/setup.go
  p2p/base_reactor.go
  p2p/handshake.go
  p2p/mock/peer.go
  p2p/mock/reactor.go
  p2p/mock_transport.go
  p2p/mocks/peer.go
  p2p/nodekey/nodekey.go
  p2p/nodekey/nodekey_test.go
  p2p/peer.go
  p2p/peer_set_test.go
  p2p/peer_test.go
  p2p/pex/pex_reactor.go
  p2p/pex/pex_reactor_test.go
  p2p/switch.go
  p2p/switch_test.go
  p2p/test_util.go
  p2p/transport.go
  p2p/transport/conn.go
  p2p/transport/conn_state.go
  p2p/transport/tcp/conn/channel_descriptor.go
  p2p/transport/tcp/conn/conn_go110.go
  p2p/transport/tcp/conn/connection.go
  p2p/transport/tcp/conn/connection_test.go
  p2p/transport/tcp/conn/errors.go
  p2p/transport/tcp/conn/stream.go
  p2p/transport/tcp/conn/stream_descriptor.go
  p2p/transport/tcp/tcp.go
  p2p/transport/tcp/tcp_test.go
  p2p/transport/transport.go
  p2p/types.go
  rpc/core/net.go
  rpc/core/types/responses.go
  statesync/reactor.go
  statesync/reactor_test.go
  statesync/syncer.go
  statesync/syncer_test.go
  test/e2e/pkg/infrastructure.go
Labels: p2p, breaking, hygiene

#4477 spec(mempool/dog): Add spec of DOG gossip protocol
  spec/mempool/gossip/Makefile
  spec/mempool/gossip/README.md
  spec/mempool/gossip/dog.md
  spec/mempool/gossip/flood.md
  spec/mempool/gossip/p2p.md
  spec/mempool/gossip/quint/dog.qnt
  spec/mempool/gossip/quint/flood.qnt
  spec/mempool/gossip/quint/p2p.qnt
Labels: mempool, spec, P:bandwidth-optimization

#4556 chore(p2p)!: reintroduce `p2p.ID` type and internalize `nodeinfo`
  internal/blocksync/pool.go
  internal/blocksync/pool_test.go
  internal/blocksync/reactor.go
  internal/consensus/msgs.go
  internal/consensus/msgs_test.go
  internal/consensus/replay_stubs.go
  internal/consensus/state.go
  internal/consensus/types/height_vote_set.go
  mempool/clist_mempool.go
  mempool/mempool.go
  mempool/mempoolTx.go
  mempool/nop_mempool.go
  node/node.go
  node/node_test.go
  node/setup.go
  p2p/handshake.go
  p2p/internal/nodeinfo/errors.go
  p2p/internal/nodeinfo/nodeinfo.go
  p2p/internal/nodeinfo/nodeinfo_test.go
  p2p/mock/peer.go
  p2p/mocks/peer.go
  p2p/peer.go
  p2p/peer_set_test.go
  p2p/peer_test.go
  p2p/switch.go
  p2p/test_util.go
  p2p/types.go
  rpc/core/env.go
  rpc/core/net.go
  rpc/core/status.go
  rpc/core/types/responses.go
  rpc/core/types/responses_test.go
  statesync/chunks.go
  statesync/chunks_test.go
  statesync/reactor_test.go
  statesync/snapshots.go
  statesync/snapshots_test.go
  statesync/syncer.go
  statesync/syncer_test.go
Labels: p2p, breaking

#4561 feat(e2e): for loading with num-nodes-per-tx, use one channel per node
  test/e2e/pkg/manifest.go
  test/e2e/pkg/testnet.go
  test/e2e/runner/load.go
  test/e2e/runner/main.go
Labels: e2e
