Repository cometbft/cometbft, pull requests merged in 2024-12, with the labels that each got.

#4559 chore: fix function names in doc comments
  abci/tutorials/abci-v2-forum-app/abci/app.go
  docs/tutorials/forum-application/8.app.md
  state/export_test.go
  state/indexer/sink/psql/psql_test.go
Labels: documentation, hygiene

#4565 feat(e2e): Add perturbation interval to manifest and as command option
  .changelog/unreleased/features/4481-e2e-perturb-interval.md
  test/e2e/pkg/manifest.go
  test/e2e/pkg/testnet.go
  test/e2e/runner/main.go
  test/e2e/runner/perturb.go
Labels: e2e

#4513 feat(e2e): Support sending the same tx to multiple nodes
  .changelog/unreleased/features/4513-e2e-same-load.md
  test/e2e/pkg/manifest.go
  test/e2e/pkg/testnet.go
  test/e2e/runner/load.go
  test/e2e/runner/main.go
Labels: mempool, e2e

#4602 chore(mocks): regenerate mocks
  abci/client/mocks/client.go
  crypto/mocks/batch_verifier.go
  crypto/mocks/pub_key.go
  internal/evidence/mocks/block_store.go
  light/rpc/mocks/light_client.go
  mempool/mocks/mempool.go
  p2p/mocks/peer.go
  proxy/mocks/app_conn_consensus.go
  proxy/mocks/app_conn_mempool.go
  proxy/mocks/app_conn_query.go
  proxy/mocks/app_conn_snapshot.go
  proxy/mocks/client_creator.go
  state/indexer/mocks/block_indexer.go
  state/mocks/block_store.go
  state/mocks/store.go
  state/txindex/mocks/tx_indexer.go
  types/time/mocks/source.go
Labels: chore, backport-to-v1.x

#4605 build(deps): Mock generation no longer uses the `latest` tag on `mockery`.
  .changelog/unreleased/dependencies/4605-fix-mockery-version.md
  scripts/mockery_generate.sh
Labels: dependencies, backport-to-v0.34.x, backport-to-v0.37.x, chore, backport-to-v0.38.x, backport-to-v1.x

#4599 chore(mempool): DOG unit tests
  mempool/reactor.go
  mempool/reactor_test.go
Labels: mempool, testing

#4557 chore(p2p)!: internalize `nodekey`
  .mockery.yml
  abci/client/mocks/client.go
  abci/tutorials/abci-v2-forum-app/forum.go
  abci/types/mocks/application.go
  cmd/cometbft/commands/gen_node_key.go
  cmd/cometbft/commands/init.go
  cmd/cometbft/commands/show_node_id.go
  cmd/cometbft/commands/testnet.go
  crypto/mocks/batch_verifier.go
  crypto/mocks/pub_key.go
  internal/evidence/mocks/block_store.go
  light/rpc/mocks/light_client.go
  mempool/mocks/mempool.go
  node/node.go
  node/node_test.go
  node/setup.go
  p2p/errors.go
  p2p/handshake.go
  p2p/handshake_test.go
  p2p/internal/nodeinfo/nodeinfo.go
  p2p/internal/nodeinfo/nodeinfo_test.go
  p2p/internal/nodekey/nodekey.go
  p2p/internal/nodekey/nodekey_test.go
  p2p/mock/peer.go
  p2p/mocks/peer.go
  p2p/netaddr/errors.go
  p2p/netaddr/netaddr.go
  p2p/peer.go
  p2p/peer_set.go
  p2p/peer_set_test.go
  p2p/peer_test.go
  p2p/pex/addrbook.go
  p2p/pex/addrbook_test.go
  p2p/pex/bench_test.go
  p2p/pex/errors.go
  p2p/pex/known_address.go
  p2p/pex/pex_reactor.go
  p2p/switch.go
  p2p/test_util.go
  p2p/transport/tcp/errors.go
  p2p/transport/tcp/tcp.go
  p2p/transport/tcp/tcp_test.go
  p2p/types.go
  proxy/mocks/app_conn_consensus.go
  proxy/mocks/app_conn_mempool.go
  proxy/mocks/app_conn_query.go
  proxy/mocks/app_conn_snapshot.go
  proxy/mocks/client_creator.go
  rpc/test/helpers.go
  scripts/mockery_generate.sh
  state/indexer/mocks/block_indexer.go
  state/mocks/block_store.go
  state/mocks/evidence_pool.go
  state/mocks/store.go
  state/txindex/mocks/tx_indexer.go
  statesync/mocks/state_provider.go
  test/e2e/node/main.go
  test/e2e/runner/setup.go
  types/time/mocks/source.go
Labels: p2p, breaking

#4611 chore(storage): merge `main` into `feature/remove-cometbftdb`.
  .changelog/unreleased/dependencies/4605-fix-mockery-version.md
  .changelog/unreleased/features/4481-e2e-perturb-interval.md
  .changelog/unreleased/features/4513-e2e-same-load.md
  .github/workflows/cometbft-docker.yml
  .github/workflows/testapp-docker.yml
  abci/client/mocks/client.go
  abci/tutorials/abci-v2-forum-app/abci/app.go
  crypto/mocks/batch_verifier.go
  crypto/mocks/pub_key.go
  docs/tutorials/forum-application/8.app.md
  go.mod
  go.sum
  internal/evidence/mocks/block_store.go
  light/rpc/mocks/light_client.go
  mempool/mocks/mempool.go
  p2p/mocks/peer.go
  proxy/mocks/app_conn_consensus.go
  proxy/mocks/app_conn_mempool.go
  proxy/mocks/app_conn_query.go
  proxy/mocks/app_conn_snapshot.go
  proxy/mocks/client_creator.go
  scripts/mockery_generate.sh
  state/export_test.go
  state/indexer/mocks/block_indexer.go
  state/indexer/sink/psql/psql_test.go
  state/mocks/block_store.go
  state/mocks/store.go
  state/txindex/mocks/tx_indexer.go
  test/e2e/pkg/manifest.go
  test/e2e/pkg/testnet.go
  test/e2e/runner/load.go
  test/e2e/runner/main.go
  test/e2e/runner/perturb.go
  types/time/mocks/source.go
Labels: storage

#4562 feat(storage): Add `PrefixDB` to pkg `internal/storage`
  internal/storage/db.go
  internal/storage/db_test.go
  internal/storage/pebbledb.go
  internal/storage/pebbledb_test.go
  internal/storage/prefixdb.go
  internal/storage/prefixdb_test.go
Labels: storage, P:tech-debt

#4493 feat(docs): ADR-119 : Mempool DOG
  docs/references/architecture/README.md
  docs/references/architecture/adr-119-dog-mempool-gossip.md
Labels: mempool, adr

#4633 fix(test): `TestBlockPoolMaliciousNode` shutdown threads at exit
  internal/blocksync/pool_test.go
Labels: backport-to-v0.38.x, backport-to-v1.x

#4618 feat(metrics): Added DOG related metrics to grafana
  test/e2e/monitoring/config-grafana/provisioning/dashboards-data/main.json
Labels: monitoring

#4639 chore(node): `Node` no longer uses a singleton to create an `rpc.Environment`
  .changelog/unreleased/improvements/4639-remove-sync-once.md
  node/node.go
Labels: storage, P:tech-debt

#4636 fix(test): fix TestBlockPoolMaliciousNode DATA RACE
  internal/blocksync/pool.go
  internal/blocksync/pool_test.go
Labels: backport-to-v0.38.x, backport-to-v1.x, testing

#4646 fix(mempool): Decreased the sleep in `TestDOGDisabledRoutes`
  mempool/reactor_test.go
Labels: mempool

#4647 docs: fix typos in adr-119-dog-mempool-gossip.md
  docs/references/architecture/adr-119-dog-mempool-gossip.md
Labels: spelling

#4621 feat(crypto/merkle): add test for `proof_op.go`
  crypto/merkle/proof_op_test.go
Labels: crypto, testing

#4644 fix(p2p/pex): do not send PEX request in fast dial mode
  p2p/pex/pex_reactor.go
Labels: bug, p2p, backport-to-v0.38.x, backport-to-v1.x

#4650 build(deps): Remove cometbft-db from cometbft build.
  .golangci.yml
  test/e2e/Makefile
  test/e2e/docker/Dockerfile
  test/e2e/docker/Dockerfile.debug
Labels: dependencies, storage

#4655 fix(mempool/tests): Fixes flakiness in a test related to mempool lanes.
  mempool/clist_mempool_test.go
Labels: bug, mempool, testing

#4653 chore(gRPC): set a value for grpc.MaxConcurrentStreams
  .changelog/unreleased/improvements/1546-grpc-maxconcurrentstreams.md
  abci/server/grpc_server.go
  rpc/grpc/server/privileged/privileged.go
  rpc/grpc/server/server.go
Labels: grpc, backport-to-v1.x

#4652 perf(mempool): free memory immediately after calculating max
  mempool/reactor.go
Labels: mempool

#4660 fix(p2p/pex): fix TestConnectionSpeedForPeerReceivedFromSeed
  p2p/pex/pex_reactor_test.go
Labels: p2p, backport-to-v0.38.x, backport-to-v1.x, testing

#4643 refactor(p2p)!: merge #4307 back into `main`
  .changelog/unreleased/breaking-changes/4553-extract-mconnection-from-peer.md
  internal/blocksync/pool.go
  internal/blocksync/reactor.go
  internal/blocksync/reactor_test.go
  internal/consensus/byzantine_test.go
  internal/consensus/invalid_test.go
  internal/consensus/reactor.go
  internal/evidence/reactor.go
  internal/evidence/reactor_test.go
  mempool/reactor.go
  node/node.go
  node/node_test.go
  node/setup.go
  p2p/base_reactor.go
  p2p/handshake.go
  p2p/internal/nodekey/nodekey.go
  p2p/internal/nodekey/nodekey_test.go
  p2p/mock/peer.go
  p2p/mock/reactor.go
  p2p/mock_transport.go
  p2p/mocks/peer.go
  p2p/peer.go
  p2p/peer_set_test.go
  p2p/peer_test.go
  p2p/pex/pex_reactor.go
  p2p/pex/pex_reactor_test.go
  p2p/switch.go
  p2p/switch_test.go
  p2p/test_util.go
  p2p/transport.go
  p2p/transport/conn.go
  p2p/transport/conn_state.go
  p2p/transport/tcp/conn/channel_descriptor.go
  p2p/transport/tcp/conn/conn_go110.go
  p2p/transport/tcp/conn/connection.go
  p2p/transport/tcp/conn/connection_test.go
  p2p/transport/tcp/conn/errors.go
  p2p/transport/tcp/conn/stream.go
  p2p/transport/tcp/conn/stream_descriptor.go
  p2p/transport/tcp/tcp.go
  p2p/transport/tcp/tcp_test.go
  p2p/transport/transport.go
  p2p/types.go
  rpc/core/net.go
  rpc/core/types/responses.go
  statesync/reactor.go
  statesync/reactor_test.go
  statesync/syncer.go
  statesync/syncer_test.go
  test/e2e/pkg/infrastructure.go
Labels: p2p, breaking

#4664 docs: remove repetitive words
  spec/light-client/detection/detection_001_reviewed.md
Labels: spelling

#4668 refactor(crypto): unify the error handling
  statesync/syncer.go
Labels: hygiene

#4667 perf(p2p): do not remarshal envelope message within broadcast
  .changelog/unreleased/improvements/4667-broadcast-single-message-marshal
  p2p/peer.go
  p2p/switch.go
  p2p/types.go
  p2p/types_test.go
Labels: enhancement, p2p

#4676 docs: fix multiple typos
  docs/explanation/core/running-in-production.md
  docs/references/architecture/adr-111-nop-mempool.md
  docs/references/architecture/tendermint-core/adr-006-trust-metric.md
  docs/references/architecture/tendermint-core/adr-055-protobuf-design.md
  docs/references/qa/method.md
  docs/references/rfc/tendermint-core/rfc-011-delete-gas.md
Labels: spelling

#4669 docs: typos in several documents
  docs/references/architecture/tendermint-core/adr-059-evidence-composition-and-lifecycle.md
  docs/references/rfc/tendermint-core/rfc-018-bls-agg-exploration.md
  docs/tutorials/forum-application/3.send-message.md
Labels: spelling

#4663 fix(p2p/pex): 2nd fix TestConnectionSpeedForPeerReceivedFromSeed
  p2p/pex/pex_reactor_test.go
Labels: automerge, backport-to-v0.38.x

#4680 feat(crypto): update `bls12381` pkg
  crypto/bls12381/key.go
  crypto/bls12381/key_bls12381.go
Labels: crypto

#4679 docs(types): fix function names
  types/validator_set.go
Labels: documentation

#4681 fix(e2e): skip missing snapshots
  test/e2e/app/snapshots.go
Labels: backport-to-v1.x

#4689 docs(changelog): Fix broken links to ADRs in .CHANGELOG
  CHANGELOG.md
Labels: documentation

#4690 feat(storage): Export `DB` interface
  abci/example/kvstore/kvstore.go
  cmd/cometbft/commands/light.go
  cmd/cometbft/commands/reindex_event.go
  cmd/cometbft/commands/reindex_event_test.go
  cmd/cometbft/commands/rollback.go
  config/db.go
  db/db.go
  db/db_test.go
  db/pebbledb.go
  db/pebbledb_test.go
  db/prefixdb.go
  db/prefixdb_test.go
  internal/blocksync/reactor_test.go
  internal/consensus/byzantine_test.go
  internal/consensus/common_test.go
  internal/consensus/mempool_test.go
  internal/consensus/reactor_test.go
  internal/consensus/replay_test.go
  internal/consensus/wal_generator.go
  internal/consensus/wal_test.go
  internal/evidence/pool.go
  internal/evidence/pool_test.go
  internal/evidence/reactor_test.go
  internal/evidence/verify_test.go
  light/client_benchmark_test.go
  light/client_test.go
  light/detector_test.go
  light/example_test.go
  light/store/db/db.go
  light/store/db/db_test.go
  node/node_test.go
  node/setup.go
  rpc/core/blocks_test.go
  state/compatibility_test.go
  state/execution_test.go
  state/export_test.go
  state/helpers_test.go
  state/indexer/block/indexer.go
  state/indexer/block/kv/kv.go
  state/indexer/block/kv/kv_test.go
  state/pruner_test.go
  state/rollback_test.go
  state/state_test.go
  state/store.go
  state/store_test.go
  state/tx_filter_test.go
  state/txindex/indexer_service_test.go
  state/txindex/kv/kv.go
  state/txindex/kv/kv_bench_test.go
  state/txindex/kv/kv_test.go
  state/validation_test.go
  statesync/stateprovider.go
  store/store.go
  store/store_test.go
  test/loadtime/cmd/report/main.go
Labels: storage

#4691 feat(test): change default database to pebbledb
  test/e2e/pkg/manifest.go
  test/e2e/pkg/testnet.go
  test/loadtime/README.md
  test/loadtime/cmd/report/main.go
Labels: chore, e2e

#4699 Release/v0.37.14
  .changelog/v0.37.14/bug-fixes/4521-fixes-breaking-mock.md
  .changelog/v0.37.14/improvements/3519-p2p-reconnect-interval-1day.md
  .changelog/v0.37.14/summary.md
  CHANGELOG.md
  version/version.go
Labels: release

#4700 Release/v0.38.16
  .changelog/v0.38.16/bug-fixes/4521-fixes-breaking-mock.md
  .changelog/v0.38.16/summary.md
  CHANGELOG.md
  version/version.go
Labels: release

#4721 fix(e2e): Reduce size of generated vote extensions and don't convert to Hex
  .changelog/unreleased/bug-fixes/4721-nonrp-ext-e2e-fix.md
  test/e2e/app/app.go
  test/e2e/generator/generate.go
  test/e2e/runner/evidence.go
Labels: e2e

#4694 chore: update the docs
  mempool/clist_mempool.go
  mempool/iterators.go
  mempool/mempool.go
Labels: documentation, spelling

#4726 fix(spec): Update spec with info on signature size of `secp256k1eth`
  spec/core/data_structures.md
Labels: bug, spec

#4727 fix(types): update `MaxSignatureSize` to include secp256k1eth
  types/signable.go
Labels: crypto
