Repository cometbft/cometbft, pull requests merged in 2024-08, with the labels that each got.

#3527 chore: update cometbft Go version to 1.22.5
  .changelog/unreleased/dependencies/3527-update-go-version.md
  .github/workflows/build.yml
  .github/workflows/check-generated.yml
  .github/workflows/e2e-long-main.yml
  .github/workflows/e2e-manual-multiversion.yml
  .github/workflows/e2e-manual.yml
  .github/workflows/e2e-nightly-1x.yml
  .github/workflows/e2e-nightly-37x.yml
  .github/workflows/e2e-nightly-38x.yml
  .github/workflows/e2e-nightly-main.yml
  .github/workflows/e2e.yml
  .github/workflows/fuzz-nightly.yml
  .github/workflows/go-version.env
  .github/workflows/govulncheck.yml
  .github/workflows/lint.yml
  .github/workflows/pre-release.yml
  .github/workflows/release-version.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  DOCKER/Dockerfile
  README.md
  go.mod
  go.work
  test/docker/Dockerfile
Labels: ci, chore, backport-to-v1.x

#3614 fix(e2e): replace docker-compose w/ docker compose
  Makefile
  docs/guides/networks/docker-compose.md
  test/e2e/pkg/infra/docker/docker.go
  test/monitoring/README.md
Labels: backport-to-v0.34.x, backport-to-v0.37.x, e2e, backport-to-v0.38.x, backport-to-v1.x

#3597 test(p2p/pex): fix TestConnectionSpeedForPeerReceivedFromSeed flacky test
  p2p/pex/pex_reactor_test.go
Labels: p2p, testing

#3606 feat(crypto)!: remove PubKey#Equals and PrivKey#Equals
  .changelog/unreleased/breaking-changes/3606-crypto-equals.md
  crypto/bls12381/key.go
  crypto/bls12381/key_bls12381.go
  crypto/bls12381/key_test.go
  crypto/crypto.go
  crypto/doc.go
  crypto/ed25519/ed25519.go
  crypto/secp256k1/secp256k1.go
  crypto/sr25519/privkey.go
  crypto/sr25519/pubkey.go
  internal/consensus/replay_test.go
  p2p/conn/secret_connection_test.go
  test/fuzz/tests/p2p_secretconnection_test.go
Labels: crypto, breaking, backport-to-v1.x

#3621 feat(types): Extend `InfoResponse` and `CheckTxResponse` with lanes info
  .changelog/unreleased/features/3621-proto-mempool-lane.md
  api/cometbft/abci/v1/types.pb.go
  proto/cometbft/abci/v1/types.proto
Labels: mempool, protobuf

#3603 chore(crypto/bls12381): remove cosmos/crypto wrapper for BLS curve
  crypto/bls12381/const.go
  crypto/bls12381/key.go
  crypto/bls12381/key_bls12381.go
  crypto/bls12381/key_test.go
  crypto/encoding/codec.go
  crypto/encoding/codec_test.go
  go.mod
  go.sum
Labels: crypto, backport-to-v1.x

#3594 feat(indexer): update psql indexer to have configurable table names
  .changelog/unreleased/features/3593-psql-configurable-tables.md
  config/config.go
  docs/guides/app-dev/indexing-transactions.md
  docs/references/config/config.toml.md
  state/indexer/block/indexer.go
  state/indexer/sink/psql/psql.go
  state/indexer/sink/psql/psql_test.go
Labels: indexer, backport-to-v1.x

#3513 test(e2e): add support for testing different key types, including BLS
  .changelog/unreleased/improvements/3513-e2e-key-types.md
  test/e2e/Makefile
  test/e2e/generator/generate.go
  test/e2e/generator/generate_test.go
  test/e2e/generator/generate_version_test.go
  test/e2e/pkg/testnet.go
  test/e2e/runner/setup.go
  test/e2e/runner/test.go
Labels: e2e

#3517 feat(privval)!: add flag `key-type` to all relevant CometBFT commands and thread it through the code
  .changelog/unreleased/features/3517-key-type-all-over.md
  cmd/cometbft/commands/gen_validator.go
  cmd/cometbft/commands/init.go
  cmd/cometbft/commands/reset.go
  cmd/cometbft/commands/run_node.go
  docs/references/config/priv_validator_key.json.md
  internal/consensus/common_test.go
  internal/consensus/replay_test.go
  internal/consensus/wal_generator.go
  internal/keytypes/keytypes.go
  internal/test/config.go
  node/errors.go
  node/node_test.go
  node/setup.go
  privval/file.go
  privval/file_test.go
  rpc/client/evidence_test.go
  rpc/test/helpers.go
  test/e2e/node/main.go
Labels: breaking, privval, backport-to-v1.x

#3627 feat(crypto/bls12381): change to minimal-signature-size
  .changelog/unreleased/improvements/3624-crypto-bls-sig-size.md
  crypto/bls12381/const.go
  crypto/bls12381/key_bls12381.go
  state/tx_filter_test.go
  types/block.go
  types/block_test.go
  types/signable.go
Labels: crypto, backport-to-v1.x

#3622 feat(test): extend `kvstore` and e2e tests with lanes
  .changelog/unreleased/features/3622-e2e-mempool-lanes.md
  .changelog/unreleased/features/3622-kvstore-mempool-lanes.md
  abci/example/kvstore/kvstore.go
  test/e2e/app/app.go
Labels: mempool, e2e, testing

#3637 test(e2e): fix docker file ENV command to prevent LegacyKeyValueFormat warning
  test/e2e/docker/Dockerfile
Labels: e2e

#3644 fix(types): add and ABCIPubKeyType for sr25519 key
  types/params.go
Labels: bug

#3646 feat(crypto)!: remove sr25519 curve
  .changelog/unreleased/breaking-changes/3646-crypto-remove-sr25519.md
  crypto/README.md
  crypto/batch/batch.go
  crypto/sr25519/batch.go
  crypto/sr25519/bench_test.go
  crypto/sr25519/encoding.go
  crypto/sr25519/privkey.go
  crypto/sr25519/pubkey.go
  crypto/sr25519/sr25519_test.go
  docs/references/config/node_key.json.md
  docs/references/config/priv_validator_key.json.md
  internal/keytypes/keytypes.go
  p2p/conn/secret_connection_test.go
  spec/abci/abci++_app_requirements.md
  spec/core/genesis.md
  test/e2e/generator/generate.go
  test/e2e/networks/ci.toml
  test/e2e/pkg/manifest.go
  test/e2e/pkg/testnet.go
  types/params.go
  types/signable.go
  types/validator_set_test.go
Labels: breaking, backport-to-v1.x

#3641 feat(config): Log possible misconfiguration
  cmd/cometbft/commands/root.go
  config/config.go
  config/config_test.go
Labels: config, backport-to-v1.x

#3652 chore: fix some comments
  internal/evidence/reactor.go
  libs/log/testing_logger.go
Labels: spelling

#3654 feat(mempool): add error ErrRecheckFull
  mempool/clist_mempool.go
  mempool/errors.go
Labels: mempool, backport-to-v0.38.x, backport-to-v1.x

#3400 docs: ADR-117 `PrivValidator` should implement `cosmos.CryptoProvider`
  docs/references/architecture/adr-117-cryptoprovider-implementation.md
Labels: adr

#3647 fix(mempool): tx is skipped when sending to a lagging peer or sending fails
  .changelog/unreleased/improvements/3430-mempool-get-peer-state-once.md
  mempool/reactor.go
  mempool/reactor_test.go
Labels: bug, mempool, backport-to-v1.x

#3661 chore: update cometbft-db dependency
  .changelog/unreleased/dependencies/3661-bump-cometbft-db-version.md
  cmd/cometbft/commands/inspect.go
  cmd/cometbft/commands/run_node.go
  common.mk
  config/config.go
  config/config.toml.tpl
  docs/references/config/config.toml.md
  go.mod
  node/node.go
  test/e2e/Makefile
  test/e2e/docker/Dockerfile
  test/e2e/docker/Dockerfile.debug
  test/e2e/generator/generate.go
  test/e2e/pkg/manifest.go
  test/e2e/pkg/testnet.go
Labels: dependencies, chore, backport-to-v1.x

#3663 chore: update auto-generated proto files in `v1.x`
  api/cometbft/abci/v1/service.pb.go
  api/cometbft/abci/v1beta1/types.pb.go
  api/cometbft/abci/v1beta2/types.pb.go
  api/cometbft/abci/v1beta3/types.pb.go
  api/cometbft/rpc/grpc/v1beta1/types.pb.go
  api/cometbft/rpc/grpc/v1beta2/types.pb.go
  api/cometbft/rpc/grpc/v1beta3/types.pb.go
  api/cometbft/services/block/v1/block_service.pb.go
  api/cometbft/services/block_results/v1/block_results_service.pb.go
  api/cometbft/services/pruning/v1/service.pb.go
  api/cometbft/services/version/v1/version_service.pb.go
Labels: protobuf

#3659 feat(mempool)!: Add new `Contains` method to `Mempool` interface
  .changelog/unreleased/breaking-changes/3659-mempool-add-contains-method.md
  internal/consensus/replay_stubs.go
  mempool/clist_mempool.go
  mempool/mempool.go
  mempool/mocks/mempool.go
  mempool/nop_mempool.go
Labels: mempool

#3660 feat(mempool): Do not send removed txs
  .changelog/unreleased/breaking-changes/3659-mempool-add-contains-method.md
  .changelog/unreleased/improvements/3658-mempool-dont-send-removed-tx.md
  mempool/reactor.go
  mempool/reactor_test.go
Labels: enhancement, mempool

#3687 chore(e2e): do not test cleveldb and boltdb
  docs/explanation/core/running-in-production.md
  docs/tutorials/install.md
  test/e2e/Makefile
  test/e2e/docker/Dockerfile
  test/e2e/docker/Dockerfile.debug
  test/e2e/generator/generate.go
  test/e2e/networks/long.toml
  test/e2e/networks/varyVESize.toml
  test/e2e/pkg/manifest.go
  test/e2e/pkg/testnet.go
Labels: storage, P:tech-debt

#3686 feat!: remove cleveldb and boltdb
  cmd/cometbft/commands/inspect.go
  cmd/cometbft/commands/run_node.go
  common.mk
  config/config.go
  config/config.toml.tpl
  docs/references/config/config.toml.md
  mempool/reactor_test.go
  node/node.go
  p2p/pex/pex_reactor_test.go
  test/e2e/Makefile
  test/e2e/docker/Dockerfile
  test/e2e/generator/generate.go
  test/e2e/pkg/manifest.go
  test/e2e/pkg/testnet.go
Labels: storage, P:tech-debt

#3634 feat(mempool): query app for `LanesInfo` and pass to mempool constructor
  .changelog/unreleased/breaking-changes/3634-node-handshake-goapi.md
  .changelog/unreleased/features/3634-query-app-for-lanes-info.md
  internal/consensus/byzantine_test.go
  internal/consensus/common_test.go
  internal/consensus/reactor_test.go
  internal/consensus/replay.go
  internal/consensus/replay_test.go
  mempool/clist_mempool.go
  mempool/clist_mempool_test.go
  mempool/errors.go
  mempool/lanes_info.go
  node/node.go
  node/node_test.go
  node/setup.go
  test/fuzz/mempool/checktx.go
  test/fuzz/tests/mempool_test.go
  types/tx.go
Labels: mempool

#3702 fix(crypto): panic: encoding: unsupported key {0xc015dcc0c0}
  crypto/encoding/codec.go
  crypto/encoding/codec_test.go
  types/validator.go
Labels: crypto, breaking, backport-to-v1.x

#3706 fix(types): validate `PubKey.Type` in `Validator`
  crypto/encoding/codec.go
  crypto/encoding/codec_test.go
  internal/keytypes/keytypes.go
  types/validator.go
  types/validator_test.go
Labels: backport-to-v1.x

#3711 fix(abci/tutorials): Refactored test to appease linter
  abci/tutorials/abci-v2-forum-app/test/find_user_test.go
Labels: backport-to-v1.x

#3700 fix(mempool): Update variables in `CListMempool` atomically
  .changelog/unreleased/bug-fixes/3694-mempool-update-variables-atomically.md
  mempool/clist_mempool.go
  mempool/errors.go
Labels: bug, mempool

#3718 ci: Remove Conventional Commits from PR checklist template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ci

#3722 chore(mempool/lanes): merge main
  .changelog/unreleased/breaking-changes/3659-mempool-add-contains-method.md
  .changelog/unreleased/bug-fixes/3693-add-func-opt-blocksresultsservice.md
  .changelog/unreleased/bug-fixes/3694-mempool-update-variables-atomically.md
  .changelog/unreleased/improvements/3658-mempool-dont-send-removed-tx.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/mergify.yml
  abci/tutorials/abci-v2-forum-app/test/find_user_test.go
  cmd/cometbft/commands/inspect.go
  cmd/cometbft/commands/run_node.go
  common.mk
  config/config.go
  config/config.toml.tpl
  crypto/bls12381/key_bls12381.go
  crypto/bls12381/key_test.go
  crypto/encoding/codec.go
  crypto/encoding/codec_test.go
  docs/references/config/config.toml.md
  internal/keytypes/keytypes.go
  mempool/clist_mempool.go
  mempool/errors.go
  mempool/reactor.go
  mempool/reactor_test.go
  node/node.go
  rpc/grpc/client/client.go
  test/e2e/Makefile
  test/e2e/docker/Dockerfile
  test/e2e/generator/generate.go
  test/e2e/pkg/manifest.go
  test/e2e/pkg/testnet.go
  types/validator.go
  types/validator_test.go
Labels: chore

#3721 fix(e2e): remove bls from e2e generator
  test/e2e/generator/generate.go
Labels: bug, e2e, backport-to-v1.x

#3724 chore(mempool/lanes): merge feature/mempool-qos
  .changelog/unreleased/breaking-changes/3659-mempool-add-contains-method.md
  .changelog/unreleased/bug-fixes/3693-add-func-opt-blocksresultsservice.md
  .changelog/unreleased/bug-fixes/3694-mempool-update-variables-atomically.md
  .changelog/unreleased/improvements/3658-mempool-dont-send-removed-tx.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/mergify.yml
  abci/tutorials/abci-v2-forum-app/test/find_user_test.go
  cmd/cometbft/commands/inspect.go
  cmd/cometbft/commands/run_node.go
  common.mk
  config/config.go
  config/config.toml.tpl
  crypto/bls12381/key_bls12381.go
  crypto/bls12381/key_test.go
  crypto/encoding/codec.go
  crypto/encoding/codec_test.go
  docs/references/config/config.toml.md
  internal/keytypes/keytypes.go
  mempool/clist_mempool.go
  mempool/clist_mempool_test.go
  mempool/errors.go
  mempool/reactor.go
  mempool/reactor_test.go
  node/node.go
  rpc/grpc/client/client.go
  test/e2e/Makefile
  test/e2e/docker/Dockerfile
  test/e2e/generator/generate.go
  test/e2e/pkg/manifest.go
  test/e2e/pkg/testnet.go
  types/validator.go
  types/validator_test.go
Labels: chore

#3726 fix(e2e): fix BLS-related failures
  crypto/bls12381/key.go
  crypto/bls12381/key_bls12381.go
  crypto/bls12381/key_test.go
  crypto/encoding/codec_test.go
  test/e2e/generator/generate.go
  test/e2e/pkg/testnet.go
Labels: bug, e2e

#3719 test(mempool): Allow custom log levels on reactor tests
  mempool/reactor_test.go
  p2p/test_util.go
Labels: mempool, backport-to-v1.x, testing

#3728 build(crypto/secp256k1): Update `btcec/v2` to v2.3.4
  .changelog/unreleased/dependencies/3728-update-btcec-v2.md
  crypto/secp256k1/secp256k1.go
  go.mod
  go.sum
Labels: backport-to-v1.x

#3756 feat(mempool/lanes): Store lane in `mempoolTx` and remove `txsLanes`
  mempool/clist_mempool.go
  mempool/errors.go
  mempool/mempoolTx.go
Labels: mempool

#3725 fix(mempool): Fix mutex in `Flush` method
  .changelog/unreleased/bug-fixes/2443-mempool-fix-flush-mutex.md
  mempool/clist_mempool.go
Labels: bug, mempool, backport-to-v1.x

#3754 chore: Update dependencies to address CVEs
  buf.yaml
  consensus/byzantine_test.go
  go.mod
  go.sum
  libs/os/os.go
  scripts/qa/reporting/requirements.txt
  test/e2e/docker/Dockerfile
  test/loadtime/README.md
  test/loadtime/cmd/load/main.go
  types/validator_set_test.go
Labels: dependencies

#3764 chore(deps): force update runc and viper
  go.mod
  go.sum
Labels: dependencies

#3811 chore: fix some function names
  rpc/grpc/server/privileged/privileged.go
  state/execution_test.go
Labels: spelling

#3813 ci: use go 1.21 for v0.34.x branch
  .github/workflows/e2e-nightly-34x.yml
Labels: ci

#3819 feat(e2e): Allow setting `log_level` in manifest
  .changelog/unreleased/features/3819-e2e-log-level.md
  test/e2e/pkg/manifest.go
  test/e2e/pkg/testnet.go
  test/e2e/runner/setup.go
Labels: automerge, e2e, backport-to-v0.38.x, backport-to-v1.x

#3821 build(deps): replace go-kit w/ a fork
  .golangci.yml
  go.mod
  go.sum
Labels: dependencies

#3769 chore(deps): cometbft-db v0.9.4
  .golangci.yml
  go.mod
  go.sum
  test/e2e/docker/Dockerfile
Labels: dependencies

#3822 build(deps): update continuity
  go.mod
  go.sum
Labels: dependencies

#3701 fix(grpc): implemented missing optional function for BlocksResultsService in gRPC client (backport #3693)
  .changelog/unreleased/bug-fixes/3693-add-func-opt-blocksresultsservice.md
  libs/os/os.go
  rpc/grpc/client/client.go
  rpc/grpc/server/services/blockservice/service.go
  rpc/grpc/server/services/pruningservice/service.go
Labels: bug, experimental-backport

#3837 fix(mempool): Log tx hashes as hex instead of bytes
  mempool/clist_mempool.go
  mempool/reactor.go
Labels: mempool, backport-to-v1.x

#3838 feat(e2e): add `log_format` to e2e manifest
  .changelog/unreleased/improvements/3819-e2e-log-level.md
  .changelog/unreleased/improvements/3836-e2e-log-format.md
  test/e2e/pkg/manifest.go
  test/e2e/pkg/testnet.go
  test/e2e/runner/setup.go
Labels: e2e, backport-to-v0.38.x, backport-to-v1.x

#3845 chore(lanes): merge main into feature branch
  .changelog/unreleased/bug-fixes/2443-mempool-fix-flush-mutex.md
  .changelog/unreleased/dependencies/3728-update-btcec-v2.md
  .changelog/unreleased/improvements/3819-e2e-log-level.md
  .changelog/unreleased/improvements/3836-e2e-log-format.md
  .github/dependabot.yml
  .github/workflows/cometbft-docker.yml
  .github/workflows/e2e-nightly-34x.yml
  .github/workflows/proto-lint.yml
  .github/workflows/testapp-docker.yml
  crypto/bls12381/key.go
  crypto/bls12381/key_bls12381.go
  crypto/bls12381/key_test.go
  crypto/encoding/codec_test.go
  crypto/secp256k1/secp256k1.go
  docs/explanation/core/metrics.md
  go.mod
  go.sum
  mempool/clist_mempool.go
  mempool/reactor.go
  mempool/reactor_test.go
  p2p/metrics.gen.go
  p2p/metrics.go
  p2p/test_util.go
  rpc/grpc/server/privileged/privileged.go
  state/execution_test.go
  test/e2e/pkg/manifest.go
  test/e2e/pkg/testnet.go
  test/e2e/runner/setup.go
Labels: mempool, chore

#3846 chore(lanes): merge feature branch
  .changelog/unreleased/bug-fixes/2443-mempool-fix-flush-mutex.md
  .changelog/unreleased/dependencies/3728-update-btcec-v2.md
  .changelog/unreleased/improvements/3819-e2e-log-level.md
  .changelog/unreleased/improvements/3836-e2e-log-format.md
  .github/dependabot.yml
  .github/workflows/cometbft-docker.yml
  .github/workflows/e2e-nightly-34x.yml
  .github/workflows/proto-lint.yml
  .github/workflows/testapp-docker.yml
  crypto/bls12381/key.go
  crypto/bls12381/key_bls12381.go
  crypto/bls12381/key_test.go
  crypto/encoding/codec_test.go
  crypto/secp256k1/secp256k1.go
  docs/explanation/core/metrics.md
  go.mod
  go.sum
  mempool/clist_mempool.go
  mempool/reactor.go
  mempool/reactor_test.go
  p2p/metrics.gen.go
  p2p/metrics.go
  p2p/test_util.go
  rpc/grpc/server/privileged/privileged.go
  state/execution_test.go
  test/e2e/pkg/manifest.go
  test/e2e/pkg/testnet.go
  test/e2e/runner/setup.go
Labels: mempool, chore

#3833 fix(lanes): revert changes to recheck mechanism
  mempool/clist_mempool.go
Labels: mempool

#3762 feat(lanes): Change lane selection algorithm in kvstore app
  abci/example/kvstore/kvstore.go
  abci/example/kvstore/kvstore_test.go
  mempool/clist_mempool_test.go
Labels: mempool

#3844 chore: merge v0.38.x line
  .changelog/unreleased/bug-fixes/3528-evidence-missing-json-tags.md
  .changelog/v0.38.11/bug-fixes/3565-extension-iff-enabled.md
  .changelog/v0.38.11/improvements/3544-indexer-break-statement.md
  .changelog/v0.38.11/summary.md
  .github/workflows/cometbft-docker.yml
  .github/workflows/testapp-docker.yml
  CHANGELOG.md
  Makefile
  abci/types/types.pb.go
  buf.yaml
  docs/networks/docker-compose.md
  mempool/clist_mempool.go
  mempool/errors.go
  proto/tendermint/rpc/grpc/types.pb.go
  rpc/grpc/types.pb.go
  state/indexer/block/kv/kv.go
  test/e2e/pkg/testnet.go
  types/evidence.go
  types/evidence_test.go
  types/vote.go
  version/version.go
Labels: automerge

#3825 feat(lanes/e2e): let loader define the lane of each tx
  .changelog/unreleased/features/3825-e2e-lane-weights.md
  test/e2e/app/app.go
  test/e2e/pkg/manifest.go
  test/e2e/pkg/testnet.go
  test/e2e/runner/load.go
  test/loadtime/payload/payload.pb.go
  test/loadtime/payload/payload.proto
Labels: e2e

#3847 feat(lanes): Add non-blocking iterator
  mempool/clist_iterator_test.go
  mempool/clist_mempool.go
  mempool/clist_mempool_test.go
  mempool/reactor.go
  mempool/reactor_test.go
Labels: mempool

#3860 revert(crypto): revert BLS sig size downgrade
  .changelog/unreleased/improvements/3624-crypto-bls-sig-size.md
  crypto/bls12381/const.go
  crypto/bls12381/key_bls12381.go
  state/tx_filter_test.go
  types/block.go
  types/block_test.go
Labels: crypto, backport-to-v1.x

#3862 fix(lanes): Use iterators for rechecking
  mempool/clist_mempool.go
  mempool/clist_mempool_test.go
Labels: mempool

#3861 ci: upgrade pre-commit hooks versions
  .codespellrc
  .github/workflows/ignore-words.txt
  .golangci.yml
  .pre-commit-config.yaml
  docs/references/architecture/tendermint-core/adr-026-general-merkle-proof.md
  docs/references/rfc/rfc-101-p2p-bad-peers-checktx.md
  docs/references/rfc/tendermint-core/rfc-026-p2p-bad-peers-checktx.md
  internal/autofile/group.go
  internal/consensus/state.go
  internal/os/os.go
  libs/bytes/bytes.go
  rpc/grpc/server/services/blockservice/service.go
  rpc/grpc/server/services/pruningservice/service.go
  scripts/metricsgen/metricsgen.go
  spec/consensus/proposer-selection.md
  spec/light-client/detection/draft-functions.md
  types/validator_set_test.go
Labels: automerge, backport-to-v1.x

#3870 test(e2e): log tx hash after failed e2e test
  test/e2e/tests/app_test.go
Labels: e2e, backport-to-v1.x

#3874 ci: cancel previous runs using GH api
  .github/workflows/build.yml
  .github/workflows/check-generated.yml
  .github/workflows/codeql.yml
  .github/workflows/docs-toc.yml
  .github/workflows/e2e.yml
  .github/workflows/fuzz-nightly.yml
  .github/workflows/govulncheck.yml
  .github/workflows/janitor.yml
  .github/workflows/lint.yml
  .github/workflows/markdown-linter.yml
  .github/workflows/proto-lint.yml
  .github/workflows/tests.yml
Labels: automerge, ci

#3875 feat(lanes): Change lane selection algorithm in kvstore app
  abci/example/kvstore/kvstore.go
  abci/example/kvstore/kvstore_test.go
Labels: mempool, testing

#3879 docs: clarifiy VE and PBTS enable height set to 0
  api/cometbft/types/v1/params.pb.go
  proto/cometbft/types/v1/params.proto
  spec/abci/abci++_app_requirements.md
  spec/core/data_structures.md
  types/params.go
Labels: backport-to-v1.x

#3886 fix(lanes): weighted random index's corner case
  test/e2e/pkg/testnet.go
Labels: bug, mempool

#3888 test(e2e): fix debug level on workflow
  .github/workflows/e2e-manual-debug.yml
  test/e2e/README.md
Labels: bug, e2e

#3873 test(mempool): Add two `Update` benchmarks
  .changelog/unreleased/deprecations/3873-mempool-unused-txs.md
  mempool/bench_test.go
  mempool/clist_mempool_test.go
  mempool/reactor_test.go
  types/tx.go
Labels: mempool, backport-to-v1.x, testing

#3826 feat(lanes/loadtime): include lane in reports
  scripts/qa/reporting/latency_plotter.py
  scripts/qa/reporting/latency_throughput.py
  test/loadtime/cmd/report/main.go
  test/loadtime/report/report.go
Labels: qa

#3830 fix(privval): CV ignore duplicate privval listen when connected
  .changelog/unreleased/bug-fixes/3828-privval-drop-duplicate-listen.md
  privval/signer_endpoint.go
  privval/signer_listener_endpoint.go
  privval/signer_listener_endpoint_test.go
Labels: backport-to-v0.37.x, privval, backport-to-v0.38.x, backport-to-v1.x

#3898 ci: change Mergify merge method to squash
  .github/mergify.yml
Labels: ci
