Repository cometbft/cometbft, pull requests merged in 2024-10, with the labels that each got.

#4199 fix(mockery): Fix mockery related failures on main
  abci/types/mocks/application.go
  p2p/mocks/peer.go
Labels: chore

#4229 fix(test): Initialise all mempools with lane info from app
  internal/consensus/byzantine_test.go
  internal/consensus/common_test.go
  internal/consensus/mempool_test.go
  internal/consensus/pbts_test.go
  internal/consensus/reactor_test.go
  internal/consensus/replay_test.go
  internal/consensus/state_test.go
  node/node_test.go
  test/fuzz/mempool/checktx.go
  test/fuzz/tests/mempool_test.go
Labels: mempool, testing

#4232 docs(Node): Expand docs of `GenesisDocProvider`
  node/setup.go
Labels: documentation, backport-to-v1.x

#4175 feat(e2e): Add `load_max_seconds` to manifest + optional flags to `load` command
  test/e2e/node/main.go
  test/e2e/pkg/infrastructure.go
  test/e2e/pkg/manifest.go
  test/e2e/pkg/testnet.go
  test/e2e/runner/load.go
  test/e2e/runner/main.go
Labels: e2e, backport-to-v1.x

#4181 test(mempool): Add benchmarks for blocking iterator
  mempool/bench_test.go
Labels: mempool, backport-to-v1.x, testing

#4240 chore: Regenerate mock files
  p2p/mocks/peer.go
Labels: chore, backport-to-v1.x

#4241 fix(kvstore): Remove unused lanes-related variable
  abci/example/kvstore/kvstore.go
Labels: mempool

#4185 docs(mempool/lanes): Create guide for app developers
  docs/guides/app-dev/README.md
  docs/guides/app-dev/mempool-lanes.md
Labels: documentation, mempool

#4249 feat(types): increase default `SynchronyParams` consensus parameters values
  docs/guides/tools/proposer-based-timestamps-runbook.md
  docs/guides/upgrades/v0.38-to-v1.0.md
  types/params.go
Labels: backport-to-v1.x, pbts

#4281 fix(config): Dynamic mempool type when writing config
  .changelog/unreleased/improvements/4281-use-embed-pkg-for-template-string.md
  config/config.toml.tpl
Labels: backport-to-v1.x

#4147 docs(docker): fix links
  DOCKER/README.md
Labels: documentation, hygiene

#4283 docs(crypto/merkle): add docs for exported methods
  crypto/merkle/proof.go
  crypto/merkle/proof_key_path.go
  crypto/merkle/proof_op.go
  crypto/merkle/proof_value.go
Labels: documentation

#4303 refactor(p2p/netaddress)!: move to netaddr
  cmd/cometbft/commands/testnet.go
  docs/explanation/core/running-in-production.md
  node/node.go
  node/setup.go
  p2p/errors.go
  p2p/handshake.go
  p2p/mock/peer.go
  p2p/mock_transport.go
  p2p/mocks/peer.go
  p2p/netaddr/errors.go
  p2p/netaddr/netaddr.go
  p2p/netaddr/netaddr_test.go
  p2p/nodeinfo/node_info.go
  p2p/nodeinfo/node_info_test.go
  p2p/peer.go
  p2p/peer_set_test.go
  p2p/peer_test.go
  p2p/pex/addrbook.go
  p2p/pex/addrbook_test.go
  p2p/pex/errors.go
  p2p/pex/known_address.go
  p2p/pex/pex_reactor.go
  p2p/pex/pex_reactor_test.go
  p2p/switch.go
  p2p/switch_test.go
  p2p/test_util.go
  p2p/transport.go
  p2p/transport/tcp/errors.go
  p2p/transport/tcp/tcp.go
  p2p/transport/tcp/tcp_test.go
  rpc/core/net.go
Labels: p2p, breaking, hygiene

#4321 fix(state/indexer): copy value
  go.mod
  go.sum
  state/indexer/block/kv/kv.go
  state/txindex/kv/kv.go
  test/e2e/docker/Dockerfile
Labels: indexer, automerge, backport-to-v0.37.x, backport-to-v0.38.x-experimental

#4304 refactor(p2p/nodekey)!: remove NodeKey suffix
  abci/tutorials/abci-v2-forum-app/forum.go
  cmd/cometbft/commands/gen_node_key.go
  cmd/cometbft/commands/init.go
  cmd/cometbft/commands/show_node_id.go
  cmd/cometbft/commands/testnet.go
  node/node_test.go
  node/setup.go
  p2p/nodekey/nodekey.go
  p2p/nodekey/nodekey_test.go
  rpc/test/helpers.go
  test/e2e/node/main.go
Labels: p2p, breaking, hygiene

#4305 refactor(p2p/nodeinfo)!: remove NodeInfo suffix
  node/node.go
  node/node_test.go
  p2p/handshake.go
  p2p/mock/peer.go
  p2p/nodeinfo/nodeinfo.go
  p2p/nodeinfo/nodeinfo_test.go
  p2p/peer.go
  p2p/peer_set_test.go
  p2p/test_util.go
  rpc/core/net.go
  rpc/core/status.go
  rpc/core/types/responses.go
  rpc/core/types/responses_test.go
Labels: p2p, breaking, hygiene

#4294 chore: use decred secp256k1 directly
  .changelog/unreleased/features/4294-remove-secp256k1-wrapper.md
  .golangci.yml
  crypto/secp256k1/secp256k1.go
  crypto/secp256k1/secp256k1_internal_test.go
  crypto/secp256k1/secp256k1_test.go
  go.mod
  go.sum
Labels: crypto, backport-to-v0.37.x, backport-to-v0.38.x, backport-to-v1.x

#4331 Release v0.38.13
  .changelog/v0.38.13/bug-fixes/4295-copy-value-state-indexer.md
  .changelog/v0.38.13/dependencies/4059-update-cometbft-db.md
  .changelog/v0.38.13/dependencies/4321-update-cometbft-db.md
  .changelog/v0.38.13/features/4294-remove-secp256k1-wrapper.md
  .changelog/v0.38.13/summary.md
  CHANGELOG.md
  version/version.go
Labels: automerge, release, backport-to-v0.38.x-experimental

#4333 release v0.38.13 (fixed changelog)
  .changelog/v0.38.1/improvements/1558-experimental-gossip-limiting.md
  .changelog/v0.38.13/bug-fixes/4019-mempool-metric-rejected-txs.md
  .changelog/v0.38.13/bug-fixes/4295-copy-value-state-indexer.md
  .changelog/v0.38.13/dependencies/4059-update-cometbft-db.md
  .changelog/v0.38.13/improvements/4019-mempool-metric-evicted-txs.md
  .changelog/v0.38.13/improvements/4123-mempool-is-full-log.md
  .changelog/v0.38.8/improvements/4123-mempool-is-full-log.md
  CHANGELOG.md
Labels: automerge, release, backport-to-v0.38.x-experimental

#4334 release v0.37.12
  .changelog/v0.37.12/bug-fixes/4295-copy-value-state-indexer.md
  .changelog/v0.37.12/dependencies/4072-bump-go-version.md
  .changelog/v0.37.12/dependencies/4326-update-cometbft-db.md
  .changelog/v0.37.12/features/4329-remove-secp256k1-wrapper.md
  .changelog/v0.37.12/summary.md
  .changelog/v0.37.3/features/4294-remove-secp256k1-wrapper.md
  CHANGELOG.md
  version/version.go
Labels: release

#4247 chore(Node): Do not keep the entire genesis file in memory during node operation
  .changelog/unreleased/breaking-changes/4250-node-no-genesis.md
  .changelog/unreleased/improvements/4235-4234-environment-stores-one-genesis.md
  node/node.go
  node/node_test.go
  rpc/core/env.go
  rpc/core/env_genesis_test.go
  rpc/core/env_test.go
  rpc/core/net.go
Labels: backlog, P:tech-debt, P:storage-optimization

#4341 docs: fix RPC explanation link
  docs/guides/tools/debugging.md
Labels: documentation

#4339 fix(config): do not populate deprecated timeout_commit with non-zero value
  config/config.go
  internal/confix/data/v1.0.toml
Labels: config

#3965 feat(statesync)!: replace discovery_time with max_discovery_time
  .changelog/unreleased/breaking-changes/3878-statesync-max-discovery-time.md
  config/config.go
  config/config.toml.tpl
  config/errors.go
  docs/explanation/core/state-sync.md
  docs/references/config/config.toml.md
  internal/blocksync/reactor.go
  node/setup.go
  statesync/reactor.go
  statesync/syncer.go
  statesync/syncer_test.go
  test/e2e/runner/setup.go
Labels: config, block-sync, state-sync

#4338 feat(e2e): Add `monitor` command to manage Prometheus and Grafana servers
  .changelog/unreleased/features/4338-e2e-monitoring.md
  test/e2e/.gitignore
  test/e2e/README.md
  test/e2e/monitoring/README.md
  test/e2e/monitoring/compose.yaml
  test/e2e/monitoring/config-grafana/grafana.ini
  test/e2e/monitoring/config-grafana/provisioning/dashboards-data/main.json
  test/e2e/monitoring/config-grafana/provisioning/dashboards-data/mempool_compact.json
  test/e2e/monitoring/config-grafana/provisioning/dashboards/default.yml
  test/e2e/monitoring/config-grafana/provisioning/datasources/prometheus.yml
  test/e2e/networks/simple.toml
  test/e2e/pkg/infra/docker/docker.go
  test/e2e/pkg/testnet.go
  test/e2e/runner/cleanup.go
  test/e2e/runner/main.go
  test/e2e/runner/setup.go
  test/e2e/runner/templates/prometheus-yml.tmpl
Labels: e2e

#4336 ci: use gobenchdata to benchmark each Go PR
  .github/workflows/gobenchdata-base.yml
  .github/workflows/gobenchdata-current.yml
Labels: ci

#4354 ci: update upload-artifact version
  .github/workflows/gobenchdata-base.yml
  .github/workflows/gobenchdata-current.yml
Labels: automerge

#4357 fix(makefile): re-added `build-linux`
  Makefile
Labels: chore

#4351 test(e2e): give the runner extra time to wait for a killed node
  .changelog/unreleased/improvements/4351-e2e-kill-perturbation-timeout.md
  test/e2e/runner/perturb.go
  test/e2e/runner/rpc.go
Labels: backport-to-v0.37.x, e2e, backport-to-v0.38.x, backport-to-v1.x

#4349 chore(rpc): optimize genesis file chunking
  .changelog/unreleased/breaking-changes/4250-node-no-genesis.md
  .changelog/unreleased/improvements/4235-4234-environment-stores-one-genesis.md
  .changelog/unreleased/improvements/4349-optimize-genesis-file-chunking.md
  node/node.go
  rpc/core/env.go
  rpc/core/env_test.go
  rpc/core/errors.go
  rpc/core/net.go
  rpc/jsonrpc/server/http_server.go
Labels: backlog, rpc, P:tech-debt, P:storage-optimization

#4340 perf(log)!: `LazyHash` for producing txs and blocks debug hashes
  .changelog/unreleased/breaking-changes/4340-lazy-hash.md
  internal/consensus/state.go
  libs/log/lazy.go
  libs/log/lazy_test.go
  mempool/clist_mempool.go
  test/e2e/tests/app_test.go
  types/tx.go
Labels: breaking, logs

#4367 fix(store): `BenchmarkLoadValidators` no longer panics
  state/store.go
  state/store_test.go
Labels: bug, state, automerge, testing

#4368 ci: remove gobenchdata
  .github/workflows/gobenchdata-base.yml
  .github/workflows/gobenchdata-current.yml
  .gitignore
  Makefile
Labels: automerge, ci

#2283 feat(e2e): introduce oscillations for validators and consensus params
  test/e2e/app/app.go
  test/e2e/generator/generate.go
  test/e2e/networks/ci.toml
  test/e2e/node/config.go
  test/e2e/pkg/manifest.go
  test/e2e/pkg/testnet.go
  test/e2e/runner/setup.go
  test/e2e/tests/block_test.go
  test/e2e/tests/validator_test.go
  types/validator_set_test.go
Labels: e2e

#4365 perf(logging): strip debug log messages at compile-time
  .changelog/unreleased/improvements/2847-compile-time-debug-strip.md
  common.mk
  docs/explanation/core/running-in-production.md
  docs/references/config/config.toml.md
  libs/log/debug_off.go
  libs/log/debug_on.go
  libs/log/filter.go
  libs/log/tm_logger.go
  libs/log/tracing_logger.go
Labels: P:operator-experience, logs, backport-to-v1.x

#4373 docs(p2p/conn): fixed links and comments regarding our STS protocol implementation
  p2p/transport/tcp/conn/secret_connection.go
Labels: documentation, p2p, backport-to-v1.x
