Repository cometbft/cometbft, pull requests merged in 2024-06, with the labels that each got.

#3153 chore: update cosmosnetwork discord url
  README.md
  docs/tutorials/go-built-in.md
  docs/tutorials/go.md
Labels: backport-to-v1.x

#3181 test(e2e): restore simple network and add storage network in e2e
  test/e2e/networks/simple.toml
Labels: e2e, backport-to-v1.x

#3193 fix(rpc): Race condition when waiting for response on `broadcast_tx_sync/commit`
  rpc/core/mempool.go
Labels: bug, mempool, rpc, backport-to-v1.x

#3204 fix(mempool/rpc): remove duplicate invokeCallback
  UPGRADING.md
  mempool/clist_mempool_test.go
  rpc/core/mempool.go
Labels: bug, mempool, rpc, backport-to-v1.x

#3208 fix(e2e): make TTL's `sentTxs` atomic on kvstore
  test/e2e/app/app.go
Labels: bug, e2e, backport-to-v1.x

#3192 chore: update `api` module dependency version to `v1.0.0-rc.1`
  .changelog/unreleased/dependencies/3191-api-v1-rc1.md
  RELEASES.md
Labels: protobuf, release, backport-to-v1.x

#3234 fix(e2e): reproduction an fixing of missing evidence in `e2e` nightlies
  .github/workflows/e2e-manual-multiversion.yml
  .github/workflows/e2e-manual.yml
  .github/workflows/e2e-nightly-1x.yml
  .github/workflows/e2e-nightly-38x.yml
  .github/workflows/e2e-nightly-main.yml
  test/e2e/generator/generate.go
  test/e2e/networks/ci.toml
  test/e2e/networks_regressions/evidence_fail.toml
  test/e2e/pkg/testnet.go
  test/e2e/runner/evidence.go
Labels: bug, e2e, backport-to-v0.38.x, backport-to-v1.x

#3238 docs(adr-115): mark as accepted
  docs/references/architecture/README.md
  docs/references/architecture/adr-115-predictable-block-times.md
Labels: documentation

#3243 docs(adr-106): mark as accepted
  docs/references/architecture/adr-106-grpc-api.md
Labels: documentation

#3254 test(e2e): remove flaky logic in test for GetBlockResults
  test/e2e/tests/grpc_test.go
Labels: e2e, backport-to-v1.x

#3262 test(e2e): fix gRPC tests on nightly
  test/e2e/tests/grpc_test.go
Labels: ci, e2e, backport-to-v1.x

#3184 perf(p2p)!: Remove PeerSendBytesTotal metric
  .changelog/unreleased/breaking-changes/3184-remove-PeerSendBytesTotal-metric.md
  docs/explanation/core/metrics.md
  p2p/metrics.gen.go
  p2p/metrics.go
  p2p/peer.go
Labels: stale

#3295 chore: fix function name in comments
  abci/types/types.go
  api/cometbft/rpc/grpc/v1beta1/types.pb.go
  internal/consensus/replay_stubs.go
  libs/cli/setup.go
  privval/signer_endpoint.go
  proto/cometbft/rpc/grpc/v1beta1/types.proto
  test/e2e/pkg/infra/docker/docker.go
Labels: spelling

#3189 chore: file updates for the `v1.0.0-rc1` release
  RELEASES.md
  UPGRADING.md
  version/version.go
Labels: documentation, backport-to-v1.x

#3298 feat(p2p)!: remove PeerReceiveBytesTotal
  .changelog/unreleased/breaking-changes/3184-remove-PeerSendBytesTotal-metric.md
  docs/explanation/core/metrics.md
  p2p/metrics.gen.go
  p2p/metrics.go
  p2p/peer.go
  p2p/switch.go
Labels: metrics

#3246 fix(privval): eliminate dead code
  privval/signer_requestHandler.go
Labels: privval

#3241 chore: correctly break from for loops
  crypto/merkle/proof.go
  state/indexer/block/kv/kv.go
  test/e2e/runner/load.go
Labels: hygiene

#3248 feat(crypto)!: remove unnecessary `Sha256` wrapper
  .changelog/unreleased/breaking-changes/3248-crypto-sha256.md
  crypto/doc.go
  crypto/ed25519/ed25519.go
  crypto/example_test.go
  crypto/hash.go
  crypto/secp256k1/secp256k1.go
  crypto/sr25519/privkey.go
  crypto/xsalsa20symmetric/symmetric_test.go
Labels: crypto, breaking

#2241 docs(ADR): #113 Modular transaction hashing
  docs/references/architecture/README.md
  docs/references/architecture/adr-113-modular-transaction-hashing.md
Labels: adr

#3196 fix(types): DO NOT batch verify if vals keys
  .changelog/unreleased/bug-fixes/3195-batch-verification.md
  test/e2e/networks/ci.toml
  test/e2e/pkg/manifest.go
  test/e2e/pkg/testnet.go
  types/validation.go
  types/validator_set.go
Labels: backport-to-v0.37.x, backport-to-v0.38.x, backport-to-v1.x

#3264 fix(mempool): wrong request type when rechecking
  .changelog/unreleased/bug-fixes/1827-fix-recheck-async.md
  mempool/clist_mempool.go
Labels: bug, mempool

#3330 chore: fix comment
  internal/evidence/pool.go
  privval/signer_endpoint.go
Labels: spelling

#3335 test(e2e): reverting PR3211 since it is making e2e nightly to fail
  .changelog/unreleased/improvements/3211-make-cs-reactor-no-longer-takes-cs-locks.md
  internal/consensus/reactor.go
  internal/consensus/state.go
Labels: e2e, testing

#3314 fix(mempool)!: stop accepting TXs in the mempool if we can't keep up with reCheckTX
  .changelog/unreleased/breaking-changes/3314-mempool-preupdate.md
  .changelog/unreleased/improvements/3314-mempool-update-consider-full-when-rechecking.md
  internal/blocksync/reactor_test.go
  internal/consensus/replay_stubs.go
  mempool/clist_mempool.go
  mempool/clist_mempool_test.go
  mempool/errors.go
  mempool/mempool.go
  mempool/mocks/mempool.go
  mempool/nop_mempool.go
  mempool/reactor_test.go
  state/execution.go
  state/execution_test.go
  state/validation_test.go
Labels: bug, mempool, backport-to-v0.37.x, backport-to-v0.38.x, backport-to-v1.x

#3207 fix: add missing err checks to prevent panic in log
  internal/consensus/replay.go
  test/e2e/runner/evidence.go
Labels: hygiene

#3318 chore(consensus): Logs should be capitalize for consistency across repo
  internal/consensus/state.go
  state/execution.go
Labels: backport-to-v1.x

#3342 perf(blockstore)!: Cache more in blockstore, which speedsup the gossip routines
  .changelog/unreleased/improvements/3342-improve-blockstore-caches.md
  store/store.go
Labels: storage

#3310 chore(types): add test for ValidatorSet#AllKeysHaveSameType
  types/validator_set.go
  types/validator_set_test.go
Labels: backport-to-v0.38.x, backport-to-v1.x

#3258 feat(cmd): add support for all key types in gen-validator
  .changelog/unreleased/improvements/1757-gen-validator.md
  cmd/cometbft/commands/gen_validator.go
  privval/file.go
  spec/core/encoding.md
Labels: stale, privval

#3331 feat: do not start indexer service
  cmd/cometbft/commands/inspect.go
  internal/inspect/inspect.go
  node/node.go
  node/setup.go
  state/indexer/block/indexer.go
  state/store_test.go
  store/store_test.go
Labels: backport-to-v1.x

#3355 fix(rpc): fix nil pointer error in `/tx` and `/tx_search`
  .changelog/unreleased/bug-fixes/3352-nil-pointer-tx-search.md
  rpc/core/tx.go
Labels: rpc, backport-to-v0.37.x, backport-to-v0.38.x, backport-to-v1.x

#3361 refactor(mempool)!: remove PreUpdate from Mempool interface and move its logic to Lock
  .changelog/breaking-changes/3361-mempool-preupdate.md
  blocksync/reactor_test.go
  consensus/replay_stubs.go
  mempool/clist_mempool.go
  mempool/clist_mempool_test.go
  mempool/mempool.go
  mempool/mocks/mempool.go
  mempool/nop_mempool.go
  mempool/reactor_test.go
  state/execution.go
  state/execution_test.go
  state/validation_test.go
Labels: mempool, backport-to-v0.37.x

#3363 refactor(mempool)!: remove PreUpdate from Mempool interface and move its logic to Lock
  .changelog/unreleased/breaking-changes/3363-remove-mempool-preupdate.md
  blocksync/reactor_test.go
  consensus/replay_stubs.go
  mempool/mempool.go
  mempool/mocks/mempool.go
  mempool/nop_mempool.go
  mempool/v0/clist_mempool.go
  mempool/v0/reactor_test.go
  mempool/v1/mempool.go
  state/execution.go
  state/execution_test.go
  state/validation_test.go
Labels: mempool
