Repository cometbft/cometbft, pull requests merged in 2024-09, with the labels that each got.

#3954 chore(docs): update Go version
  docs/tutorials/go-built-in.md
  docs/tutorials/go.md
  scripts/proto-gen.sh
Labels: documentation, automerge, backport-to-v1.x

#3963 feat(e2e): Add `--internal-ip` flag to `load` command
  .changelog/unreleased/features/3963-e2e-load-internal-ip.md
  test/e2e/pkg/testnet.go
  test/e2e/runner/load.go
  test/e2e/runner/main.go
Labels: e2e, backport-to-v1.x

#3972 docs(running-in-production): replace external link
  docs/explanation/core/running-in-production.md
Labels: documentation, backport-to-v1.x

#3970 docs(crypto/secp256k1): fix Address docs
  crypto/secp256k1/secp256k1.go
  crypto/secp256k1/secp256k1_test.go
  spec/core/encoding.md
Labels: documentation, crypto, backport-to-v1.x

#3982 v0.38.12
  .changelog/unreleased/bug-fixes/0016-abc-light-proposer-priorities.md
  .changelog/unreleased/improvements/0016-abc-types-validator-set.md
  .changelog/v0.38.12/bug-fixes/0016-abc-light-proposer-priorities.md
  .changelog/v0.38.12/bug-fixes/3828-privval-drop-duplicate-listen.md
  .changelog/v0.38.12/dependencies/3728-update-btcec-v2.md
  .changelog/v0.38.12/improvements/0016-abc-types-validator-set.md
  .changelog/v0.38.12/improvements/3819-e2e-log-level.md
  .changelog/v0.38.12/improvements/3836-e2e-log-format.md
  .changelog/v0.38.12/summary.md
  CHANGELOG.md
  version/version.go
Labels: backport-to-v0.38.x-experimental

#3984 fix(light): cross-check proposer priorities in retrieved validator sets
  .changelog/unreleased/bug-fixes/0016-abc-light-proposer-priorities.md
  .changelog/unreleased/improvements/0016-abc-types-validator-set.md
  light/client.go
  light/client_test.go
  light/detector.go
  light/errors.go
  types/validator_set.go
  types/validator_set_test.go
Labels: bug, light-client

#3980 test(mempool/lanes): Add initialisation functions to kvstore that don't use lanes
  abci/example/kvstore/kvstore.go
Labels: mempool, testing

#3990 test(mempool/lanes): Initialise app with lanes in consensus tests (part 2)
  internal/consensus/common_test.go
  internal/consensus/mempool_test.go
Labels: mempool, testing

#3987 test(mempool/lanes): Use app with lanes in tests + do not test ordering
  abci/example/kvstore/kvstore.go
  internal/consensus/common_test.go
  mempool/iterators_test.go
  mempool/reactor_test.go
Labels: mempool, testing

#3962 test(e2e): Log multiple failed sent txs in one line
  test/e2e/runner/load.go
Labels: e2e, backport-to-v1.x

#3988 chore(deps): replace gofrs/uuid with google/uuid
  .golangci.yml
  go.mod
  go.sum
  internal/rpctrace/rpctrace.go
  test/loadtime/report/report.go
Labels: dependencies, backport-to-v1.x

#3973 feat(config): disallow flood mempool w/ 0 capacity
  config/config.go
  config/config_test.go
  types/errors/sanity.go
Labels: config, mempool, backport-to-v1.x

#3964 feat(e2e): simplify the relation between manifest and testnet
  test/e2e/generator/generate.go
  test/e2e/pkg/infrastructure.go
  test/e2e/pkg/manifest.go
  test/e2e/pkg/testnet.go
Labels: e2e

#3967 feat(e2e): `config` flag for arbitrary CometBFT configurations
  test/e2e/pkg/manifest.go
  test/e2e/pkg/testnet.go
  test/e2e/runner/setup.go
Labels: enhancement, e2e

#3969 feat(e2e): allow customizing genesis parameters on the manifest
  .golangci.yml
  test/e2e/pkg/manifest.go
  test/e2e/pkg/testnet.go
  test/e2e/runner/setup.go
Labels: e2e

#4008 feat(mempool/test): Add test to check order when lanes are disabled
  mempool/iterators_test.go
Labels: mempool, testing

#4006 feat(consensus): print ErrAddingVote with a reason
  internal/consensus/errors.go
  internal/consensus/state.go
Labels: consensus, backport-to-v1.x

#4004 fix(light): print an err if trusted store is empty
  .changelog/unreleased/bug-fixes/3992-light-panic.md
  cmd/cometbft/commands/light.go
  light/client.go
  light/client_test.go
  light/errors.go
Labels: light-client, backport-to-v1.x

#3638 feat(mempool): add support for lanes
  internal/consensus/common_test.go
  internal/consensus/reactor_test.go
  internal/consensus/state_test.go
  mempool/clist_mempool.go
  mempool/clist_mempool_test.go
  mempool/iterators.go
  mempool/iterators_test.go
  mempool/mempoolTx.go
  mempool/reactor.go
  mempool/reactor_test.go
Labels: enhancement, mempool

#3993 feat(e2e): Added e2e config to disable mempool lanes
  test/e2e/app/app.go
  test/e2e/generator/generate.go
  test/e2e/node/config.go
  test/e2e/pkg/manifest.go
  test/e2e/pkg/testnet.go
  test/e2e/runner/setup.go
Labels: mempool, e2e, testing

#4022 docs: Fix several minor typos
  docs/explanation/core/light-client.md
  docs/explanation/core/proposer-based-timestamps.md
  docs/explanation/core/running-in-production.md
Labels: backport-to-v1.x

#4009 feat(consensus): proposer locks part set until all parts are added
  internal/consensus/reactor.go
  internal/consensus/state.go
  types/part_set.go
  types/part_set_test.go
Labels: enhancement, consensus

#4019 feat(mempool/metrics): Add new `evicted_txs` metric and call unused `rejected_txs`
  .changelog/unreleased/bug-fixes/4019-mempool-metric-rejected-txs.md
  .changelog/unreleased/improvements/4019-mempool-metric-evicted-txs.md
  docs/explanation/core/metrics.md
  mempool/clist_mempool.go
  mempool/metrics.gen.go
  mempool/metrics.go
Labels: mempool, metrics, backport-to-v0.38.x, backport-to-v1.x

#4053 build(deps): update python module `requests` to v2.32.3
  .changelog/unreleased/dependencies/4053-update-python-requests-dep.md
  scripts/qa/reporting/requirements.txt
Labels: dependencies, security

#4055 chore(lanes): merge main branch into feature branch
  .changelog/unreleased/bug-fixes/3992-light-panic.md
  .changelog/unreleased/bug-fixes/4019-mempool-metric-rejected-txs.md
  .changelog/unreleased/improvements/3891-mempool-and-state-metrics.md
  .changelog/unreleased/improvements/4019-mempool-metric-evicted-txs.md
  .github/workflows/go-version.env
  .github/workflows/proto-lint.yml
  DOCKER/Dockerfile
  cmd/cometbft/commands/light.go
  docs/explanation/core/light-client.md
  docs/explanation/core/metrics.md
  docs/explanation/core/proposer-based-timestamps.md
  docs/explanation/core/running-in-production.md
  go.mod
  go.sum
  go.work
  internal/consensus/errors.go
  internal/consensus/reactor.go
  internal/consensus/state.go
  light/client.go
  light/client_test.go
  light/errors.go
  mempool/clist_mempool.go
  mempool/metrics.gen.go
  mempool/metrics.go
  state/execution.go
  state/metrics.gen.go
  state/metrics.go
  test/docker/Dockerfile
  test/e2e/docker/Dockerfile
  test/e2e/docker/Dockerfile.debug
  types/part_set.go
  types/part_set_test.go
Labels: mempool, chore

#3827 feat(lanes): Add metrics `LaneSize`, `LaneBytes` and `TxDuration`
  .changelog/unreleased/deprecations/3506-mempool-metrics-size.md
  .changelog/unreleased/features/3506-mempool-lanes-add-metrics.md
  docs/explanation/core/metrics.md
  mempool/clist_mempool.go
  mempool/mempoolTx.go
  mempool/metrics.gen.go
  mempool/metrics.go
Labels: mempool, metrics

#4045 build(deps): updated pkg gonum.org/v1/gonum to v0.15.1:
  .changelog/unreleased/dependencies/4045-update-image-pkg.md
  go.mod
  go.sum
  go.work.sum
Labels: dependencies, security

#4050 build(deps): update adlio schema
  go.mod
  go.sum
Labels: automerge

#4044 docs: fix godoc in `GenFilePV`
  privval/file.go
Labels: documentation, backport-to-v1.x

#4016 fix(e2e): viper errors with invalid `config` and `genesis` manifest keys
  test/e2e/pkg/testnet.go
  test/e2e/runner/setup.go
Labels: e2e

#4062 fix(mempool): encode tx.Hash() as %X in logs
  mempool/clist_mempool.go
Labels: mempool, logs, backport-to-v1.x

#4042 ci: add new workflow to notify users
  .github/workflows/notify-about-breaking-changes.yml
Labels: ci

#4065 chore: Bump go toolchain to `1.22.7` on `v0.38.x`
  go.mod
Labels: dependencies, chore, backport-to-v0.38.x-experimental

#4078 ci: only update approved PRs
  .github/mergify.yml
Labels: automerge

#4058 fix(mempool): Pass cancellable context to iterator
  mempool/clist_mempool.go
  mempool/clist_mempool_test.go
  mempool/reactor.go
Labels: bug, mempool, backport-to-v1.x

#4040 fix(mempool): Propagate `CheckTx` errors to caller
  .changelog/unreleased/breaking-changes/4040-abci-client-reqres-methods.md
  abci/client/client.go
  abci/client/socket_client_test.go
  mempool/clist_mempool.go
  mempool/clist_mempool_test.go
  mempool/errors.go
  rpc/core/mempool.go
Labels: mempool, backport-to-v1.x

#3885 refactor(node): simplify 'node is blocking chain' logic
  internal/blocksync/reactor.go
  node/node.go
  node/setup.go
  tests.mk
  types/validator_set.go
  types/validator_set_test.go
Labels: block-sync

#4041 build(deps): Bump minimum Go version to v1.23
  .changelog/unreleased/breaking-changes/2725-bump-go-version-1-22.md
  .changelog/unreleased/breaking-changes/2725-bump-go-version-1-23.md
  .github/workflows/go-version.env
  DOCKER/Dockerfile
  README.md
  UPGRADING.md
  api/go.mod
  docs/tutorials/go-built-in.md
  docs/tutorials/go.md
  go.mod
  go.sum
  go.work
  internal/blocksync/pool.go
  internal/consensus/ticker.go
  internal/consensus/wal_test.go
  test/docker/Dockerfile
  test/e2e/docker/Dockerfile
  test/e2e/docker/Dockerfile.debug
Labels: dependencies, backport-to-v1.x

#4001 chore(golangci-lint): re-enable gosec linter
  .golangci.yml
  cmd/cometbft/commands/debug/io.go
  cmd/cometbft/commands/debug/util.go
  crypto/secp256k1/secp256k1.go
Labels: ci

#4081 chore: rename whitelist->allowlist, blacklist->denylist
  p2p/pex/addrbook.go
  p2p/pex/addrbook_test.go
  spec/abci/abci++_app_requirements.md
  spec/p2p/legacy-docs/peer.md
  statesync/snapshots.go
Labels: spec, hygiene, spelling

#3989 feat(internal/metrics): copy metrics package from go-kit
  .golangci.yml
  go.mod
  go.sum
  internal/blocksync/metrics.gen.go
  internal/blocksync/metrics.go
  internal/consensus/metrics.gen.go
  internal/consensus/metrics.go
  libs/metrics/discard/discard.go
  libs/metrics/doc.go
  libs/metrics/lv/labelvalues.go
  libs/metrics/lv/labelvalues_test.go
  libs/metrics/metrics.go
  libs/metrics/prometheus/prometheus.go
  libs/metrics/prometheus/prometheus_test.go
  libs/metrics/teststat/populate.go
  libs/metrics/teststat/teststat.go
  mempool/metrics.gen.go
  mempool/metrics.go
  p2p/metrics.gen.go
  p2p/metrics.go
  proxy/app_conn.go
  proxy/metrics.gen.go
  proxy/metrics.go
  scripts/metricsgen/metricsgen.go
  scripts/metricsgen/metricsgen_test.go
  scripts/metricsgen/testdata/basic/metrics.gen.go
  scripts/metricsgen/testdata/basic/metrics.go
  scripts/metricsgen/testdata/commented/metrics.gen.go
  scripts/metricsgen/testdata/commented/metrics.go
  scripts/metricsgen/testdata/tags/metrics.gen.go
  state/metrics.gen.go
  state/metrics.go
  state/store.go
  statesync/metrics.gen.go
  statesync/metrics.go
  store/metrics.gen.go
  store/metrics.go
  store/store.go
Labels: dependencies, backport-to-v1.x

#4007 ci: remove archived technote-space/get-diff-action
  .github/workflows/build.yml
  .github/workflows/codeql.yml
  .github/workflows/docs-toc.yml
  .github/workflows/e2e.yml
  .github/workflows/govulncheck.yml
  .github/workflows/markdown-linter.yml
  .github/workflows/tests.yml
  abci/example/kvstore/helpers.go
Labels: ci

#4103 test(lane): add test with concurrent blocking iterators
  mempool/clist_mempool_test.go
  mempool/iterators_test.go
Labels: mempool, testing

#4105 v0.34.35
  .changelog/v0.34.35/dependencies/4045-update-image-pkg.md
  .changelog/v0.34.35/dependencies/4053-update-python-requests-dep.md
  .changelog/v0.34.35/dependencies/4059-update-cometbft-db.md
  .changelog/v0.34.35/summary.md
  CHANGELOG.md
  version/version.go
Labels: release

#4079 feat(mempool/lanes): Replace WRR with IWRR
  mempool/iterators.go
  mempool/iterators_test.go
Labels: mempool

#4106 refactor(lanes): make `pickLane` non blocking
  mempool/iterators.go
Labels: mempool

#4107 fix(lanes): Pass cancellable context to blocking iterator
  mempool/clist_mempool_test.go
  mempool/iterators.go
  mempool/iterators_test.go
  mempool/reactor.go
Labels: mempool

#4077 feat(lanes): Split mempool space evenly across lanes
  mempool/clist_mempool.go
  mempool/clist_mempool_test.go
  mempool/errors.go
  mempool/reactor_test.go
Labels: mempool

#4121 test(e2e): increase `txTTL` and `waitTime` to avoid testing failures
  test/e2e/app/app.go
  test/e2e/tests/app_test.go
Labels: e2e

#4130 fix(changelog): add 's' to the issues path
  .changelog/unreleased/improvements/3658-mempool-dont-send-removed-tx.md
Labels: hygiene

#4104 fix(bls12381): NewPublicKeyFromBytes: add missing infinity check
  crypto/bls12381/key_bls12381.go
  crypto/bls12381/key_test.go
  tests.mk
Labels: crypto, backport-to-v1.x

#4092 feat(mempool/lanes): Allow lanes with equal priorities
  abci/example/kvstore/kvstore.go
  abci/example/kvstore/kvstore_test.go
  api/cometbft/abci/v1/types.pb.go
  internal/consensus/common_test.go
  mempool/clist_mempool.go
  mempool/clist_mempool_test.go
  mempool/errors.go
  mempool/iterators.go
  mempool/iterators_test.go
  mempool/lanes_info.go
  mempool/mempoolTx.go
  node/setup.go
  proto/cometbft/abci/v1/types.proto
  test/e2e/app/app.go
  test/e2e/pkg/testnet.go
  test/e2e/runner/load.go
  test/loadtime/payload/payload.pb.go
  test/loadtime/payload/payload.proto
  test/loadtime/report/report.go
  types/tx.go
Labels: mempool, protobuf, breaking

#4125 test(blocksync): increase capacity of errorsCh
  internal/blocksync/pool_test.go
Labels: automerge, backport-to-v1.x

#4116 fix(bls12381): remove superflous hashing
  crypto/bls12381/const.go
  crypto/bls12381/key_bls12381.go
Labels: crypto, backport-to-v1.x

#4135 test(metrics/prometheus): fix TestCounter and TestSummary
  libs/metrics/prometheus/prometheus_test.go
  libs/metrics/teststat/teststat.go
Labels: automerge, backport-to-v1.x

#4139 docs: fix typos
  docs/guides/tools/proposer-based-timestamps-runbook.md
Labels: backport-to-v1.x, spelling

#4123 fix(mempool): change "mempool is full" log level to debug
  .changelog/unreleased/improvements/4123-mempool-is-full-log.md
  mempool/clist_mempool.go
  mempool/reactor.go
Labels: P:operator-experience, logs, backport-to-v0.38.x, backport-to-v1.x

#4122 feat!: change default DB from goleveldb to pebbledb
  UPGRADING.md
  abci/example/kvstore/kvstore.go
  cmd/cometbft/commands/light.go
  cmd/cometbft/commands/reindex_event_test.go
  common.mk
  config/config.go
  config/config.toml.tpl
  docs/references/config/config.toml.md
  docs/tutorials/forum-application/6.main.md
  go.mod
  go.sum
  internal/blocksync/pool_test.go
  light/doc.go
  light/example_test.go
  node/node_test.go
  state/indexer/block/kv/kv_test.go
  state/txindex/kv/kv_bench_test.go
  test/e2e/Makefile
  test/e2e/docker/Dockerfile
  test/e2e/docker/Dockerfile.debug
  test/e2e/networks/ci.toml
Labels: config, backport-to-v1.x

#4140 test(metrics/prometheus): refactor scrape in prometheus test
  libs/metrics/prometheus/prometheus_test.go
Labels: testing

#4169 fix(lanes): Panic when lane is not found
  internal/consensus/replay_test.go
  mempool/clist_mempool.go
  mempool/errors.go
Labels: mempool

#4178 chore(lanes): Update changelog files
  .changelog/unreleased/breaking-changes/2803-mempool-NewCListMempool.md
  .changelog/unreleased/breaking-changes/2803-mempool-replace-iterator.md
  .changelog/unreleased/breaking-changes/2803-proto-mempool-lane.md
  .changelog/unreleased/breaking-changes/2803-remove-TxsFront-TxsWaitChan.md
  .changelog/unreleased/breaking-changes/3980-kvstore-new-application.md
  .changelog/unreleased/features/2803-mempool-lanes.md
  .changelog/unreleased/features/2803-proto-mempool-lane.md
  .changelog/unreleased/features/3621-proto-mempool-lane.md
  .changelog/unreleased/features/4005-e2e-lanes-manifest.md
  version/version.go
Labels: mempool, chore

#4176 feat(mempool/lanes): Final merge of the mempool qos feature branch into main
  .changelog/unreleased/breaking-changes/2803-mempool-NewCListMempool.md
  .changelog/unreleased/breaking-changes/2803-mempool-replace-iterator.md
  .changelog/unreleased/breaking-changes/2803-proto-mempool-lane.md
  .changelog/unreleased/breaking-changes/2803-remove-TxsFront-TxsWaitChan.md
  .changelog/unreleased/breaking-changes/3634-node-handshake-goapi.md
  .changelog/unreleased/breaking-changes/3980-kvstore-new-application.md
  .changelog/unreleased/deprecations/3506-mempool-metrics-size.md
  .changelog/unreleased/features/2803-mempool-lanes.md
  .changelog/unreleased/features/2803-proto-mempool-lane.md
  .changelog/unreleased/features/3506-mempool-lanes-add-metrics.md
  .changelog/unreleased/features/3622-e2e-mempool-lanes.md
  .changelog/unreleased/features/3622-kvstore-mempool-lanes.md
  .changelog/unreleased/features/3634-query-app-for-lanes-info.md
  .changelog/unreleased/features/3825-e2e-lane-weights.md
  .changelog/unreleased/features/4005-e2e-lanes-manifest.md
  abci/example/kvstore/kvstore.go
  abci/example/kvstore/kvstore_test.go
  api/cometbft/abci/v1/types.pb.go
  docs/explanation/core/metrics.md
  internal/consensus/byzantine_test.go
  internal/consensus/common_test.go
  internal/consensus/mempool_test.go
  internal/consensus/pbts_test.go
  internal/consensus/reactor_test.go
  internal/consensus/replay.go
  internal/consensus/replay_test.go
  internal/consensus/state_test.go
  mempool/clist_mempool.go
  mempool/clist_mempool_test.go
  mempool/errors.go
  mempool/iterators.go
  mempool/iterators_test.go
  mempool/lanes_info.go
  mempool/mempoolTx.go
  mempool/metrics.gen.go
  mempool/metrics.go
  mempool/reactor.go
  mempool/reactor_test.go
  node/node.go
  node/node_test.go
  node/setup.go
  proto/cometbft/abci/v1/types.proto
  scripts/qa/reporting/latency_plotter.py
  scripts/qa/reporting/latency_throughput.py
  test/e2e/app/app.go
  test/e2e/generator/generate.go
  test/e2e/node/config.go
  test/e2e/pkg/manifest.go
  test/e2e/pkg/testnet.go
  test/e2e/runner/load.go
  test/e2e/runner/setup.go
  test/fuzz/mempool/checktx.go
  test/fuzz/tests/mempool_test.go
  test/loadtime/cmd/report/main.go
  test/loadtime/payload/payload.pb.go
  test/loadtime/payload/payload.proto
  test/loadtime/report/report.go
  version/version.go
Labels: mempool, metrics, e2e

#4164 revert(goleveldb): remove `goleveldb` flag
  UPGRADING.md
  common.mk
  config/config.go
  config/config.toml.tpl
  docs/references/config/config.toml.md
  go.mod
  go.sum
  test/e2e/Makefile
  test/e2e/docker/Dockerfile
  test/e2e/docker/Dockerfile.debug
Labels: backport-to-v1.x

#4127 test(mempool): enhanced `TestReactorNoBroadcastToSender`
  mempool/reactor.go
  mempool/reactor_test.go
Labels: mempool, backport-to-v1.x, testing

#4117 docs(mempool/lanes): Update ADR with latest design changes
  docs/references/architecture/adr-118-mempool-lanes.md
Labels: mempool, adr

#4184 docs: upgrade guide from `v0.38.x` to `v1.0`
  .changelog/unreleased/improvements/3416-docs-upgrade-guide-v1.md
  UPGRADING.md
  docs/guides/README.md
  docs/guides/upgrades/README.md
  docs/guides/upgrades/v0.38-to-v1.0.md
Labels: documentation, backport-to-v1.x

#4197 fix(mockery): Fixed failing mockery tests
  abci/types/mocks/application.go
  p2p/mocks/peer.go
Labels: chore
