Repository cometbft/cometbft, pull requests merged in 2024-07, with the labels that each got.

#3353 test(e2e): add option to the 'runner logs' command to output logs separately
  .changelog/unreleased/improvements/3353-e2e-runner-split-logs.md
  test/e2e/README.md
  test/e2e/runner/main.go
Labels: e2e

#3365 chore(release): updating version for v1.0.0-rc1 release
  version/version.go
Labels: release

#3384 chore: updating CHANGELOG for `v1.0.0-rc1`
  .changelog/unreleased/summary.md
  CHANGELOG.md
Labels: release, backport-to-v1.x

#3385 Release/v0.37.8
  .changelog/unreleased/breaking-changes/3363-remove-mempool-preupdate.md
  .changelog/v0.37.8/breaking-changes/3363-remove-mempool-preupdate.md
  .changelog/v0.37.8/bug-fixes/3352-nil-pointer-tx-search.md
  .changelog/v0.37.8/summary.md
  CHANGELOG.md
  version/version.go
Labels: release

#3387 Release/v0.38.9
  .changelog/breaking-changes/3361-mempool-preupdate.md
  .changelog/v0.38.9/breaking-changes/3361-mempool-preupdate.md
  .changelog/v0.38.9/bug-fixes/3352-nil-pointer-tx-search.md
  .changelog/v0.38.9/summary.md
  CHANGELOG.md
  version/version.go
Labels: release

#3359 docs(rpc): update /abci_info return parameters
  rpc/openapi/openapi.yaml
Labels: documentation, rpc, backport-to-v0.37.x, backport-to-v0.38.x, backport-to-v1.x

#3390 docs: update release doc to include Buf publish instructions
  RELEASES.md
  proto/README.md
Labels: documentation, release

#3360 fix(p2p/pex): respect MaxNumOutboundPeers limit while dialing peers provided by a seed node
  .changelog/unreleased/bug-fixes/486-p2p-max-outbound.md
  p2p/pex/pex_reactor.go
  p2p/pex/pex_reactor_test.go
  spec/p2p/implementation/peer_manager.md
Labels: bug, p2p, backport-to-v0.37.x, backport-to-v0.38.x, backport-to-v1.x

#3394 spec: fix broken link in README
  spec/README.md
Labels: documentation, spec

#3399 docs: remove not existing key from block search query
  docs/guides/app-dev/indexing-transactions.md
  rpc/openapi/openapi.yaml
Labels: documentation, backport-to-v0.37.x, backport-to-v0.38.x, backport-to-v1.x

#3389 fix(e2e): test case `TestBlock_Range` is flaky because of pruning
  .github/workflows/e2e.yml
  .github/workflows/govulncheck.yml
  test/e2e/networks_regressions/nodes_pruning.toml
  test/e2e/runner/test.go
  test/e2e/tests/block_test.go
Labels: bug, e2e

#3341 perf(consensus): Undo revert #3211. (Remove reactor Consensus RLocks)
  .changelog/unreleased/improvements/3211-make-cs-reactor-no-longer-takes-cs-locks.md
  internal/consensus/reactor.go
  internal/consensus/state.go
Labels: consensus

#3346 perf(p2p/conn): Buffer secret connection writes
  .changelog/unreleased/improvements/3346-buffer-secret-connection-writes.md
  p2p/conn/evil_secret_connection_test.go
  p2p/conn/secret_connection.go
Labels: p2p

#3406 fix(blocksync)!: don't block in blocksync if our voting power is blocking the chain
  .changelog/unreleased/bug-fixes/3406-blocksync-dont-stall-if-blocking-chain.md
  internal/blocksync/reactor.go
  internal/blocksync/reactor_test.go
  node/node.go
  node/setup.go
  test/e2e/networks_regressions/blocksync_blocked.toml
Labels: bug, block-sync, backport-to-v0.37.x, backport-to-v0.38.x, backport-to-v1.x

#3430 perf(mempool): get peer state once on broadcast routine
  .changelog/unreleased/improvements/3430-mempool-get-peer-state-once.md
  mempool/reactor.go
Labels: mempool, backport-to-v1.x

#3257 docs(rpc): add info about encoding
  rpc/openapi/openapi.yaml
Labels: documentation, rpc

#3031 fix: invalid `txs_results` returned for legacy ABCI responses
  .changelog/unreleased/bug-fixes/3002-invalid-txs-results.md
  rpc/core/blocks.go
  rpc/core/blocks_test.go
  state/compatibility_test.go
  state/errors.go
  state/state_test.go
  state/store.go
  state/store_test.go
Labels: bug, abci, rpc, backport-to-v0.38.x, backport-to-v1.x

#3456 feat(libs/pubsub): allow dash symbol in event type/attribute
  .changelog/unreleased/improvements/3401-allow-dash-in-event-tags.md
  docs/guides/app-dev/indexing-transactions.md
  libs/pubsub/query/syntax/doc.go
  libs/pubsub/query/syntax/scanner.go
  libs/pubsub/query/syntax/syntax_test.go
Labels: indexer

#3405 refactor(mempool): add method `TryAddTx` to reactor
  mempool/clist_mempool.go
  mempool/nop_mempool.go
  mempool/reactor.go
  mempool/reactor_test.go
  node/node.go
  node/setup.go
  rpc/core/env.go
  rpc/core/mempool.go
Labels: mempool

#3242 docs(mempool/lanes): Add technical design section to ADR
  docs/references/architecture/adr-113-mempool-lanes.md
Labels: mempool, adr

#3459 refactor(mempool): Add `Iterator` to replace `TxsFront` and `TxsWaitChan` methods
  .changelog/unreleased/deprecations/3303-mempool-deprecate-txsfront-txswaitchan.md
  .changelog/unreleased/improvements/3303-mempool-iterator.md
  mempool/clist_mempool.go
  mempool/clist_mempool_test.go
  mempool/mempool.go
  mempool/mempoolTx.go
  mempool/reactor.go
Labels: mempool

#3463 chore: fix comments
  node/errors.go
  p2p/test_util.go
  privval/signer_endpoint.go
Labels: spelling

#3458 perf(txindex): search optimization
  .changelog/unreleased/improvements/3458-txindex-search-optimization.md
  state/txindex/kv/kv.go
  state/txindex/kv/kv_bench_test.go
  state/txindex/kv/kv_test.go
Labels: indexer, backport-to-v1.x

#3423 perf(p2p/conn): Remove p2p allocations for wrapping outbound packets
  .changelog/unreleased/improvements/3412-remove-heap-allocations-for-channel-wrapping-packets.md
  p2p/conn/connection.go
Labels: p2p, backport-to-v1.x

#3407 perf(consensus): Use TrySend for hasVote/HasBlockPart messages
  .changelog/unreleased/improvements/3407-make-hasvote-broadcast-use-trysend.md
  internal/consensus/reactor.go
  p2p/switch.go
  p2p/switch_test.go
Labels: consensus, p2p, backport-to-v1.x

#3493 docs: realign metrics table
  docs/explanation/core/metrics.md
Labels: documentation

#3497 fix(cmd): align `p2p.external_address` argument when set the node P2P external address
  .changelog/unreleased/bug-fixes/3497-fix-p2p-external-address.md
  cmd/cometbft/commands/run_node.go
Labels: config, backport-to-v1.x

#1374 docs: ABCI 2.0 tutorial
  .changelog/unreleased/improvements/2853-abci-2-tutorial.md
  .golangci.yml
  abci/tutorials/abci-v2-forum-app/.gitignore
  abci/tutorials/abci-v2-forum-app/README.md
  abci/tutorials/abci-v2-forum-app/abci/app.go
  abci/tutorials/abci-v2-forum-app/abci/config.go
  abci/tutorials/abci-v2-forum-app/abci/state.go
  abci/tutorials/abci-v2-forum-app/abci/util.go
  abci/tutorials/abci-v2-forum-app/app.toml
  abci/tutorials/abci-v2-forum-app/forum.go
  abci/tutorials/abci-v2-forum-app/model/db.go
  abci/tutorials/abci-v2-forum-app/model/messages.go
  abci/tutorials/abci-v2-forum-app/model/user.go
  abci/tutorials/abci-v2-forum-app/test/create_user_test.go
  abci/tutorials/abci-v2-forum-app/test/find_user_test.go
  abci/tutorials/abci-v2-forum-app/test/message_test.go
  docs/tutorials/README.md
  docs/tutorials/forum-application/1.abci-intro.md
  docs/tutorials/forum-application/2.intro-forumApp.md
  docs/tutorials/forum-application/3.send-message.md
  docs/tutorials/forum-application/4.query-message.md
  docs/tutorials/forum-application/5.model.md
  docs/tutorials/forum-application/6.main.md
  docs/tutorials/forum-application/7.vote-extension.md
  docs/tutorials/forum-application/8.app.md
  docs/tutorials/forum-application/9.run-app.md
  docs/tutorials/forum-application/images/ABCI2.jpg
  docs/tutorials/forum-application/images/Forum.jpg
  docs/tutorials/forum-application/images/VE.jpg
Labels: documentation, abci, backport-to-v1.x

#3510 feat(p2p): render `HasChannel(chID)` is a public `p2p.Peer` method
  .changelog/unreleased/features/3472-p2p-has-channel-api.md
  internal/consensus/reactor.go
  internal/evidence/reactor.go
  internal/evidence/reactor_test.go
  mempool/reactor.go
  p2p/mock/peer.go
  p2p/mocks/peer.go
  p2p/peer.go
  p2p/peer_set_test.go
  spec/p2p/reactor-api/p2p-api.md
Labels: p2p

#3512 feat(p2p): remove redundant checks on sending methods
  p2p/test_util.go
Labels: p2p

#3515 chore: release `v0.38.10`
  .changelog/v0.38.10/bug-fixes/3002-invalid-txs-results.md
  .changelog/v0.38.10/bug-fixes/3406-blocksync-dont-stall-if-blocking-chain.md
  .changelog/v0.38.10/bug-fixes/486-p2p-max-outbound.md
  .changelog/v0.38.10/improvements/3382-single-send-monitor-per-packet.md
  .changelog/v0.38.10/improvements/3401-allow-dash-in-event-tags.md
  .changelog/v0.38.10/improvements/3403-remove-pool-buffer-usage-in-secretconn.md
  .changelog/v0.38.10/summary.md
  CHANGELOG.md
  version/version.go
Labels: release

#3516 chore: release `v0.37.9`
  .changelog/v0.37.9/bug-fixes/3406-blocksync-dont-stall-if-blocking-chain.md
  .changelog/v0.37.9/bug-fixes/486-p2p-max-outbound.md
  .changelog/v0.37.9/improvements/3403-remove-pool-buffer-usage-in-secretconn.md
  .changelog/v0.37.9/summary.md
  CHANGELOG.md
  version/version.go
Labels: release

#3525 fix(types): Genesis doc validation of validators Pubkey types.
  .changelog/unreleased/bug-fixes/3525-3514-genesis-validation-pub-key.md
  types/genesis.go
  types/genesis_test.go
Labels: bug, crypto, go

#3543 fix(types): Add missing JSON tags to `DuplicateVoteEvidence` and `LightClientAttackEvidence` types
  .changelog/unreleased/bug-fixes/3528-evidence-missing-json-tags.md
  types/evidence.go
  types/evidence_test.go
Labels: bug, evidence

#3523 fix(tests): fix obvious things in `tests.mk`
  Makefile
  tests.mk
Labels: bug, hygiene

#3526 fix(node): Check that the Sha256Checksum in a ChecksummedGenesisDoc isn't nil.
  crypto/tmhash/hash.go
  crypto/tmhash/hash_test.go
  node/node_test.go
  node/setup.go
Labels: bug, documentation, P:integrator-experience

#3524 chore(abci): update comments that do not start with the name of the exported element
  abci/client/grpc_client.go
  abci/example/kvstore/code.go
  abci/example/kvstore/helpers.go
  abci/example/kvstore/kvstore.go
  abci/types/application.go
  abci/types/types.go
Labels: spelling

#3530 fix(ci): run `make all` error 'No rule to make target 'check''
  Makefile
Labels: backport-to-v0.37.x, backport-to-v0.38.x, backport-to-v1.x

#3540 chore: fix some comments
  internal/consensus/metrics.gen.go
  internal/consensus/metrics.go
Labels: spelling

#3557 fix(indexer): Ineffective or missing break statements in kv package.
  .changelog/unreleased/bug-fixes/3544-indexer-break-statement.md
  state/indexer/block/kv/kv.go
Labels: bug, indexer, backport-to-v0.37.x, backport-to-v0.38.x, backport-to-v1.x

#3542 docs: make description of `timeout_commit` more precise
  docs/explanation/core/running-in-production.md
  docs/references/config/config.toml.md
  spec/abci/abci++_methods.md
Labels: documentation

#3111 feat: add callback for new transaction that added to the mempool
  .changelog/unreleased/features/3108-pending-tx-event.md
  config/config.go
  config/config.toml.tpl
  mempool/clist_mempool.go
  node/node.go
  node/setup.go
  types/event_bus.go
  types/event_bus_test.go
  types/events.go
Labels: events, mempool

#3411 perf(p2p): Reduce the p2p metrics overhead.
  p2p/metrics.go
  p2p/peer.go
  p2p/peer_test.go
  p2p/switch.go
  p2p/test_util.go
  p2p/transport.go
Labels: metrics, p2p, backport-to-v1.x

#3036 feat(confix): copy confix from cosmos sdk
  .changelog/unreleased/improvements/3036-confix.md
  .golangci.yml
  cmd/cometbft/commands/config/common.go
  cmd/cometbft/commands/config/config.go
  cmd/cometbft/commands/config/diff.go
  cmd/cometbft/commands/config/migrate.go
  cmd/cometbft/commands/config/mutate.go
  cmd/cometbft/commands/config/view.go
  cmd/cometbft/commands/root.go
  cmd/cometbft/main.go
  go.mod
  internal/confix/README.md
  internal/confix/data/v0.34.toml
  internal/confix/data/v0.37.toml
  internal/confix/data/v0.38.toml
  internal/confix/data/v1.0.toml
  internal/confix/diff.go
  internal/confix/doc.go
  internal/confix/file.go
  internal/confix/log.go
  internal/confix/migrations.go
  internal/confix/upgrade.go
  internal/confix/upgrade_test.go
Labels: config, cli

#3568 test(p2p/pex): fix `TestConnectionSpeedForPeerReceivedFromSeed` flacky test
  p2p/pex/pex_reactor_test.go
Labels: p2p, testing

#3554 perf(blocksync): Parallelize logic for receiving a block from a peer.
  internal/blocksync/pool.go
  internal/blocksync/reactor.go
  internal/blocksync/reactor_test.go
Labels: block-sync, backport-to-v1.x

#3541 chore(state): Copy `Iterator` `Key()` and `Value()` APIs return values.
  .changelog/unreleased/bug-fixes/3541-copy-iter-key-value.md
  light/store/db/db_key_layout.go
  state/indexer/block/kv/kv.go
  state/txindex/kv/kv.go
  state/txindex/kv/utils.go
Labels: chore, backport-to-v1.x

#3596 chore: Update cometbft-db version to v0.13.0
  .changelog/unreleased/dependencies/3596-update-cometbft-version.md
  go.mod
  go.sum
  test/e2e/docker/Dockerfile
  test/e2e/docker/Dockerfile.debug
Labels: dependencies, backport-to-v1.x

#3595 refactor(config/node)!: Remove genesisHash from config
  .changelog/unreleased/breaking-changes/3595-node-go-api-defaultnewnode.md
  .changelog/unreleased/breaking-changes/3595-node-go-api-provider.md
  .changelog/unreleased/improvements/3595-config-remove-genesishash.md
  cmd/cometbft/commands/run_node.go
  config/config.go
  config/config.toml.tpl
  docs/references/config/config.toml.md
  node/node.go
  node/node_test.go
  node/setup.go
Labels: config, breaking, backport-to-v1.x
